@font-face {
    font-family: "ProximaNovaBold";
    src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot");
    src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNovaBold/ProximaNovaBold.woff") format("woff"),
    url("../fonts/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "ProximaNovaRegular";
    src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot");
    src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"),
    url("../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ProximaNovaBlack";
    src: url("../fonts/ProximaNovaBlack/ProximaNovaBlack.eot");
    src: url("../fonts/ProximaNovaBlack/ProximaNovaBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNovaBlack/ProximaNovaBlack.woff") format("woff"),
    url("../fonts/ProximaNovaBlack/ProximaNovaBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
   
 @font-face {
    font-family: proximanova-bold; /* Гарнитура шрифта */
    src: url(../fonts/proximanova-bold.otf); /* Путь к файлу со шрифтом */
   }
 @font-face {
    font-family: proximanovacond-regular; /* Гарнитура шрифта */
    src: url(../fonts/proximanovacond-regular.otf); /* Путь к файлу со шрифтом */
   }
 @font-face {
    font-family: proximanova-regular; /* Гарнитура шрифта */
    src: url(../fonts/proximanova-regular.otf); /* Путь к файлу со шрифтом */
   }   
   
  
html, body { 
	height: 100%; 
	margin: 0; 
	padding: 0; 
}
body {
	margin: 0 auto;
	padding: 0;
	font: 12px "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	-webkit-text-size-adjust: 100%;
	-webkit-overflow-scrolling: touch;
	word-wrap: break-word;
}
a, span {
	outline: none;
}
.project p a {
	text-decoration: underline;
	color: #585f5f;
}
a,a:hover {
	text-decoration: none;
}
body>.content-wrapper>.top-space{
height:30px;	
}

header{
	display:block;
}

header{
	margin: 0 auto;
	max-width: 1190px;
	height:100px;
}
header>div{
float:left;
height:100%;
}

header .header-right{
float:none;
padding:0 0 0 210px;	
}
header .header-right-left{
float:left;	
width: 60%;

}
header .header-right-right{
float:left;	
width: 40%;

}
header > .header-left{
	width: 210px;
display:table;	
}

header .phone-number{
float:right;	
clear:both;
font-family:"ProximaNovaRegular";
color: #000000;
font-size:24px;
font-weight: 700;
line-height: 24px;
margin:10px 30px 0 0;
}
header .presentation {
float:right;
clear:both;
font-family: MyriadPro, Arial;
color: #c22d2d;
font-size:13px;
line-height: 14px;
margin:10px 20px 0 0;	
}

header .presentation a{
font-family: MyriadPro, Arial;
color: #c22d2d;
font-size:13px;
line-height: 14px;
}

html > body .container { 
	height: auto; 
	max-width: 1920px;
	min-height: 100%; 
}

.header-left .logo {
	font-family: proximanova-bold;
	font-size:40px;
	color: #c22c2c;
	margin: 30px 0 0 0;
	display: block;

}
.language-version .language{
	display:block;
	font-family:proximanova-regular;
	color:#9b9b9b;
	font-size:13px;
	width:100px;
	height:30px;
	line-height:30px;
	border:2px solid #dcdcdc;
	text-align:center;
	
}
.top-menu{
  margin: 16px 0 0 0;
  min-width:453px;
}

.top-menu-wrap {
	display: table;
	width: 100%;
}
.top-menu-wrap .menu-items {
  display: table-row;
}

.top-menu-wrap .menu-items li.menu-item {
  display: table-cell;
  width: auto;
  padding: 0px;
  float: inherit;
}

.menu-item a.item {
	font-family:"ProximaNovaRegular";
	color: #20a493;
	display:block;
	font-size:14px;
	font-weight: 700;
	text-transform: uppercase;
}

.city-menu-wrap {
	display: table;
	width: 100%;
}
.city-menu-wrap .city-items {
  display: table-row;
  text-align: center;
}

.city-menu-wrap .city-items li.city-item {
  display: table-cell;
  width: auto;
  padding: 0px;
  float: inherit;
  height: 28px;
}
.city-item a.item {
	font-family:"ProximaNovaRegular";
	color: #5c5c5c;
	display:block;
	font-size:13px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 24px;
	
}
.city-item.active a.item {
	background: #c22d2d;
	color: #ffffff;
	line-height: 24px;
}

.city-item.active {
	background-image: url("../img/city_active.png");
	background-position:bottom center;
	background-repeat:no-repeat;
	
}
.content-wrapper .content-block{
width:100%;
float:left;
	
}
.content-wrapper .container{
	max-width: 1190px;	
	margin:0 auto;
}

.main_banner{
	background-image: url(../img/main_baner1.jpg);
	height: 600px;
	background-size: cover;
	background-position: center center;
}


@media screen and (min-width:320px) and (max-width:479px) {
	
}
@media screen and (min-width:480px) and (max-width:767px) {
	
}
@media screen and (min-width:768px) and (max-width:979px) {
	.header-right-right .city-menu_block{
	min-width: 400px;
	margin-left: -200px;
	}
	.header-right-right .phone-number{
		margin: 70px 0 0 0;
	}
}
@media screen and (min-width:980px) and (max-width:1200px) {

}
@media screen and (min-width:1200px){
	
}