div.popup-feedback-form-overlay{
  background: rgba(0,0,0,0.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  
  #popup-feedback-form{
    background: #fff;
    border-top: 5px solid @green-color;
    height: 370px;
    margin: -185px auto 0 auto;
    padding: 20px 30px 20px 30px;
    position: relative;
    top: 50%;
    width: 380px;
    
    p.popup-feedback-form-title{
      color:  #000;
      float: left;
      font-size: 22px;
      font-weight: 300;
      line-height: 20px;
      margin: 8px 0 18px 0;
      text-align: center;
      width: 320px;
    }
    input.popup-feedback-form-name,
    input.popup-feedback-form-phone,
    input.popup-feedback-form-email{
      background: transparent;
      border: 2px solid #ccc;
      color:  #747474;
      display: block;
      float: left;
      font-size: 20px;
      font-weight: 300;
      line-height: 20px;
      margin: 10px 0 10px 0;
      padding: 10px 0 15px 18px;
      text-align: left;
      width: 320px;
    }
    input.popup-feedback-form-btn{
      background: #fb4242;
      border: none;
      color:  #fff;
      display: block;
      float: left;
      font-size: 20px;
      font-weight: 300;
      line-height: 20px;
      margin: 12px 0 10px 85px;
      padding: 15px 27px;
      text-align: left;
    }
  }
}