<a name="mission" class="anchor"></a>
<div class="banner-caption banner-about-team"><h1>О нас</h1></div>
<div class="container team-about-us">
  <blockquote>« Не поднимешься в горы — не узнаешь высоты неба; не спустишься в бездну — не узнаешь толщи земли. »</blockquote>

  <div class="column span-2">
    <img src="/assets/images/team/ico-info.jpg" alt="">
  </div>
  <p class="column span-10 last">
    У большинства так не бывает, но у нас слова <span class="text-highlight">«молодая»</span>, <span class="text-highlight">«эффективная»</span> и <span class="text-highlight">«команда разработчиков»</span> сочетаются ультра-гармонично. Все потому, что мы амбициозные, работаем слаженно и используем передовые технологии, что в совокупности даёт максимальный эффект. А молодые не потому, что студенты, просто <span class="text-highlight">идем в ногу со временем</span>.<br>Высоконагруженные проекты, объединяющие в себе <span class="text-bold">сложный веб-портал, мобильное приложение, гаджет, качественное продвижение в сети</span> – это к нам! Наш уровень профессионализма, опыт и используемые технологии дают уверенность в том, что <span class="text-bg-highlight">проект будет развиваться</span>. Эта уверенность передаётся и Вам!
  </p>

  <p class="h2-like column span-12">Миссия</p>

  <p class="column span-10">
    OnlineLab появилась в <span class="text-bold">2011 году</span> как веб-студия. Но мы быстро осознали, что с нашим уровнем знаний и опытом делать простые сайты нам неинтересно: нас тянет к <span class="text-highlight">настоящим</span>, <span class="text-highlight">сложным</span> и <span class="text-highlight">крупным проектам</span>.<br>Как говорил У. Черчилль: <span class="text-bold">«Лучше иметь амбициозные цели, чем не иметь никаких»</span>. Мы амбициозны, потому что хотим сделать качественный продукт и тем самым улучшить мир! <span class="text-bg-highlight">Ведь, если сделать что-то полезное, мир станет лучше, не правда ли?</span> Каждый день мы видим перед собой эту генеральную цель и идём работать с воодушевлением. <span class="text-bg-highlight">Мы не хотим быть только потребителями, нам нравится созидать.</span>
  </p>
  <div class="column span-2 last">
    <img src="/assets/images/team/ico-mission.jpg" alt="">
  </div>

  <p class="h2-like column span-12">Команда</p>

  <div class="column span-2">
    <img src="/assets/images/team/ico-team.jpg" alt="">
  </div>
  <p class="column span-10 last">
    Сейчас компания имеет <span class="text-bold">2 офиса</span>: в <span class="text-highlight">Тамбове</span> и <span class="text-highlight">Нью-Йорке</span>, а также представительства в <span class="text-highlight">Таллине</span>, на <span class="text-highlight">Кипре</span>, в <span class="text-highlight">Лондоне</span>. Отбор сотрудников в OnlineLab проходит по принципу: <span class="text-bg-highlight">если человек обладает нужным опытом и готов разделять наши ценности и цели – он в команде.</span><br>Возможно, мы слишком увлечены своим делом ( даже во время пятничных посиделок с пивом мы рассказываем про новые технологии). <span class="text-bold">Каждый из нас развивается в своей области, совершенствуется и делится о новинках со всей командой</span>. Это позволяет всегда быть в курсе нового. <span class="text-bg-highlight">Так происходит самообучение и развитие.</span>
  </p>

</div>

<!-- <a name="team-people" class="anchor"></a>
<div class="team-people-wrapper">

  <div class="container team-people">
    <div class="team-people-group">
      <p class="team-people-group-header column span-12"><img src="/assets/images/team/pos-chiefs.png" alt="">Руководители отделов</p>
    
      <a href="#" class="btn-prev column span-1"><img src="/assets/images/team/btn-prev.png" alt=""></a>
      <a href="#" class="btn-next column span-1 last"><img src="/assets/images/team/btn-next.png" alt=""></a>
    
      <div class="team-person column span-2" ng-repeat="i in [1,2,3,4,5]">
        <a href="#"><img src="/assets/images/team/person-stub.jpg" alt=""></a>
        <p class="teamp-person-name">Имя</p>
        <p class="team-person-position">должность</p>
      </div>
    </div>
    
    <div class="team-people-group">
      <p class="team-people-group-header column span-12"><img src="/assets/images/team/pos-managers.png" alt="">Менеджеры проектов</p>
      
      <a href="#" class="btn-prev column span-1"><img src="/assets/images/team/btn-prev.png" alt=""></a>
      <a href="#" class="btn-next column span-1 last"><img src="/assets/images/team/btn-next.png" alt=""></a>
    
      <div class="team-person column span-2" ng-repeat="i in [1,2,3,4,5]">
        <a href="#"><img src="/assets/images/team/person-stub.jpg" alt=""></a>
        <p class="teamp-person-name">Имя</p>
        <p class="team-person-position">должность</p>
      </div>
    </div>
    
    <div class="team-people-group">
      <p class="team-people-group-header column span-12"><img src="/assets/images/team/pos-designers.png" alt="">Дизайнеры</p>
      
      <a href="#" class="btn-prev column span-1"><img src="/assets/images/team/btn-prev.png" alt=""></a>
      <a href="#" class="btn-next column span-1 last"><img src="/assets/images/team/btn-next.png" alt=""></a>
    
      <div class="team-person  column span-2" ng-repeat="i in [1,2,3,4,5]">
        <a href="#"><img src="/assets/images/team/person-stub.jpg" alt=""></a>
        <p class="teamp-person-name">Имя</p>
        <p class="team-person-position">должность</p>
      </div>
    </div>
    
    <div class="team-people-group">
      <p class="team-people-group-header column span-12"><img src="/assets/images/team/pos-frontend.png" alt="">Front-end разработчики</p>
      
      <a href="#" class="btn-prev column span-1"><img src="/assets/images/team/btn-prev.png" alt=""></a>
      <a href="#" class="btn-next column span-1 last"><img src="/assets/images/team/btn-next.png" alt=""></a>
    
      <div class="team-person  column span-2" ng-repeat="i in [1,2,3,4,5]">
        <a href="#"><img src="/assets/images/team/person-stub.jpg" alt=""></a>
        <p class="teamp-person-name">Имя</p>
        <p class="team-person-position">должность</p>
      </div>
    </div>
    
    <div class="team-people-group">
      <p class="team-people-group-header column span-12"><img src="/assets/images/team/pos-backend.png" alt="">Back-end разработчики</p>
      
      <a href="#" class="btn-prev column span-1"><img src="/assets/images/team/btn-prev.png" alt=""></a>
      <a href="#" class="btn-next column span-1 last"><img src="/assets/images/team/btn-next.png" alt=""></a>
    
      <div class="team-person  column span-2" ng-repeat="i in [1,2,3,4,5]">
        <a href="#"><img src="/assets/images/team/person-stub.jpg" alt=""></a>
        <p class="teamp-person-name">Имя</p>
        <p class="team-person-position">должность</p>
      </div>
    </div>
  </div>

</div>
 -->
<a name="factors" class="anchor"></a>
<div class="banner-caption banner-factors"><p>Факторы качества</p></div>
<div class="container team-factors p-b-30">
  <div class="team-one-factor">
    <img src="/assets/images/team/factor1.png" alt="">
    <p>
      <span class="factor-name">1. Надежность и уверенность</span><br>
      Мы не просто программируем проект, делая его красивым и функциональным, а <span class="text-highlight">сопровождаем его до первой прибыли</span> (продакшена), <span class="text-highlight">занимаемся продвижением</span> (опционально). Рады долевому участию в стартапах, инвестициях и сотрудничеству с акселератами, нацелены на долговременное партнерство.<br>
      Говоря о продвижении. Да, существуют компании, которые занимаются исключительно интернет-маркетингом, и есть соблазн обратиться к профессионалам в этой узкой нише. Но подумайте, кто лучше всех может преподнести достоинства того или иного продукта, как не её создатель? Вот и мы берёмся за маркетинг потому, что <span class="text-highlight">знаем наш продукт лучше всех</span>. <span class="text-bg-highlight">Так что маркетинговый фундамент мы выстроим отлично.</span>
    </p>
  </div>

  <div class="team-one-factor">
    <img src="/assets/images/team/factor2.png" alt="">
    <p>
      <span class="factor-name">2. Прогрессивные технологии</span><br>
      Архитектурные решения: <span class="text-highlight">Docker, Ansible</span><br>
      Серверные решения: <span class="text-highlight">Ruby, Python, Java, NodeJS</span><br>
      Клиентские решения: <span class="text-highlight">AngularJS, css3, html5</span><br>
      Мобильные решения: <span class="text-highlight">objective c, Java</span> <br>
      Электроника: <span class="text-highlight">разработка микропроцессорных устройств</span>
    </p>
  </div>

  <div class="team-one-factor">
    <img src="/assets/images/team/factor3.png" alt="">
    <p>
      <span class="factor-name">3. Уровень профессионализма</span><br>
      Сочетание <span class="text-highlight">внушительного опыта</span> со <span class="text-highlight">свежим взглядом</span> на задачу позволяет нам писать первоклассный код. При этом мы никогда не стоим на месте, а участвуем в <span class="text-bg-highlight">opensource-проектах, конференциях, проводим мастер-классы, постоянно пробуем новые подходы и аргументированно отказываемся от старых</span> (при необходимости). Знаете, мы учимся и обучаем, и находим в этом удовлетворение.
    </p>
  </div>
</div>

<script>
jQuery(document).ready(function($){
  var slidesWrapper = $('.cd-hero-slider');

  //check if a .cd-hero-slider exists in the DOM 
  if ( slidesWrapper.length > 0 ) {
    var primaryNav = $('.cd-primary-nav'),
      sliderNav = $('.cd-slider-nav'),
      navigationMarker = $('.cd-marker'),
      slidesNumber = slidesWrapper.children('li').length,
      visibleSlidePosition = 0,
      autoPlayId = false,
      autoPlayDelay = false;

    //upload videos (if not on mobile devices)
    uploadVideo(slidesWrapper);

    //autoplay slider
    setAutoplay(slidesWrapper, slidesNumber, autoPlayDelay);

    //on mobile - open/close primary navigation clicking/tapping the menu icon
    primaryNav.on('click', function(event){
      if($(event.target).is('.cd-primary-nav')) $(this).children('ul').toggleClass('is-visible');
    });
    
    //change visible slide
    sliderNav.on('click', 'li', function(event){
      event.preventDefault();
      var selectedItem = $(this);
      if(!selectedItem.hasClass('selected')) {
        // if it's not already selected
        var selectedPosition = selectedItem.index(),
          activePosition = slidesWrapper.find('li.selected').index();
        
        if( activePosition < selectedPosition) {
          nextSlide(slidesWrapper.find('.selected'), slidesWrapper, sliderNav, selectedPosition);
        } else {
          prevSlide(slidesWrapper.find('.selected'), slidesWrapper, sliderNav, selectedPosition);
        }

        //this is used for the autoplay
        visibleSlidePosition = selectedPosition;

        updateSliderNavigation(sliderNav, selectedPosition);
        updateNavigationMarker(navigationMarker, selectedPosition+1);
        //reset autoplay
        setAutoplay(slidesWrapper, slidesNumber, autoPlayDelay);
      }
    });
  }

  function nextSlide(visibleSlide, container, pagination, n){
    visibleSlide.removeClass('selected from-left from-right').addClass('is-moving').one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend', function(){
      visibleSlide.removeClass('is-moving');
    });



    container.children('li').eq(n).addClass('selected from-right').prevAll().addClass('move-left');
    checkVideo(visibleSlide, container, n);
  }

  function prevSlide(visibleSlide, container, pagination, n){
    visibleSlide.removeClass('selected from-left from-right').addClass('is-moving').one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend', function(){
      visibleSlide.removeClass('is-moving');
    });

    container.children('li').eq(n).addClass('selected from-left').removeClass('move-left').nextAll().removeClass('move-left');
    checkVideo(visibleSlide, container, n);
  }

  function updateSliderNavigation(pagination, n) {
    var navigationDot = pagination.find('.selected');
    navigationDot.removeClass('selected');
    pagination.find('li').eq(n).addClass('selected');
  }

  function setAutoplay(wrapper, length, delay) {
    if(wrapper.hasClass('autoplay')) {
      clearInterval(autoPlayId);
      autoPlayId = window.setInterval(function(){autoplaySlider(length)}, delay);
    }
  }

  function autoplaySlider(length) {
    if( visibleSlidePosition < length - 1) {
      nextSlide(slidesWrapper.find('.selected'), slidesWrapper, sliderNav, visibleSlidePosition + 1);
      visibleSlidePosition +=1;
    } else {
      prevSlide(slidesWrapper.find('.selected'), slidesWrapper, sliderNav, 0);
      visibleSlidePosition = 0;
    }
    updateNavigationMarker(navigationMarker, visibleSlidePosition+1);
    updateSliderNavigation(sliderNav, visibleSlidePosition);
  }

  function uploadVideo(container) {
    container.find('.cd-bg-video-wrapper').each(function(){
      var videoWrapper = $(this);
      if( videoWrapper.is(':visible') ) {
        // if visible - we are not on a mobile device 
        var videoUrl = videoWrapper.data('video'),
          video = $('<video loop><source src="'+videoUrl+'.mp4" type="video/mp4" /><source src="'+videoUrl+'.webm" type="video/webm" /></video>');
        video.appendTo(videoWrapper);
        // play video if first slide
        if(videoWrapper.parent('.cd-bg-video.selected').length > 0) video.get(0).play();
      }
    });
  }

  function checkVideo(hiddenSlide, container, n) {
    //check if a video outside the viewport is playing - if yes, pause it
    var hiddenVideo = hiddenSlide.find('video');
    if( hiddenVideo.length > 0 ) hiddenVideo.get(0).pause();

    //check if the select slide contains a video element - if yes, play the video
    var visibleVideo = container.children('li').eq(n).find('video');
    if( visibleVideo.length > 0 ) visibleVideo.get(0).play();
  }

  function updateNavigationMarker(marker, n) {
    marker.removeClassPrefix('item').addClass('item-'+n);
    temp_width = (n-1)*marker.removeClassPrefix('item').innerWidth()+14*(n-1);
    
    marker.removeClassPrefix('item').css( "-webkit-transform", "translateX("+temp_width+"px)");
  }

  $.fn.removeClassPrefix = function(prefix) {
    //remove all classes starting with 'prefix'
      this.each(function(i, el) {
          var classes = el.className.split(" ").filter(function(c) {
              return c.lastIndexOf(prefix, 0) !== 0;
          });
          el.className = $.trim(classes.join(" "));
      });
      return this;
  };
});
</script>