<!-- Banner -->
<div class="banner-caption banner-traffic">
  <p>Продвижение сайта по трафику</p>
</div>

<!-- Intro block -->
<div class="container container-traffic-intro">
  <p>
    Предположим, что ваш сайт популярен: показывается на первых страницах в поисковых системах по запросам, каталог интернет-магазина имеет множество страниц с карточками товаров и каждый день на него заходят сотни посетителей. Но дело в том, что если эти посещения повторны, то уникальный целевой трафик снижается, а без трафика нет и высоких доходов.
  </p>
  <p>
    <span class="bold">Целевой трафик</span> – это ещё один параметр, по которому поисковики решают, что ваш сайт полезен. И если он будет невысок, то сайт постепенно снизит свои позиции в выдаче. <span class="bold">Целевые посетители</span> – это те, кому интересен именно ваш сайт, те, кто вероятнее всего совершит целевое действие: купят товар, закажут услугу, зарегистрируются, подпишутся на новости. <span class="bold">Уникальные посетители</span> – это те, кто заходят на сайт впервые, а не повторно. <span class="text-bg-highlight">Именно они нас и интересуют!</span>
  </p>
  
  <p class="h2-like">
    Для каких сайтов подходит продвижение по трафику?
  </p>
</div>

<!-- Potential block -->
<div class="container-traffic-potential-wrapper">
  <div class="container container-traffic-potential">
    <p class="h2-like">
      Потенциал продвижения по трафику для каждого владельца сайта
    </p>
    
    <p>
      <span class="bold">«Поднять» трафик на сайте</span> – значит увеличить уникальную посещаемость именно теми пользователями, которые готовы стать потенциальными клиентами.<br>
      Продвижение по трафику проводится по тысячам ключевых запросов, охватывая всю интернет-аудиторию, интересующуюся тематикой ресурса: по самым важным ключевым запросам и по направлению бизнеса.<br>
      <span class="text-highlight">Оплата производится за прирост посетителей.</span> <span class="text-bg-highlight">Чем больше переходов – тем ниже цена за клик.</span><br>
      Исключается пессимизация сайта за счёт постепенного наращивания ссылочной базы.<br>
      В результате продвижения по трафику посетители будут приходить на сайт уже <span class="bold">через 2-3 недели</span>.
    </p>
  </div>
</div>

<!-- We do block -->
<div class="container container-traffic-we-do">
  <p class="h2-like">
    Универсального рецепта продвижения нет, но мы подбираем инструменты так, чтобы они работали на результат
  </p>
</div>

<!-- Price block -->
<div class="container-traffic-price-wrapper">
  <div class="container container-traffic-price">
    <p class="h2-like">
      Стоимость продвижения по трафику
    </p>
    <p>
      Сколько будет стоить продвижение сайта, станет понятно лишь после его анализа и обсуждения с вами наиболее приемлемых и результативных методов. Обычно SEO-оптимизаторы используют одну из моделей: оплата за позиции в выдаче поисковиков, оплата за целевой трафик или фиксированная оплата. Мы же используем двухступенчатую схему оплаты: фиксированную в начале продвижения и за трафик (клики) при продолжении сотрудничества. Объясним почему.<br>
      Продвижение сайта по трафику подразумевает некоторые риски для компании, которая будет им заниматься. Это и ограничения по сроку сотрудничества, и возможные неэффективные предложения со стороны клиента вплоть до отказа развивать сайт тем или иным способом, и возможные технические нюансы. Поэтому мы пришли к такой схеме оплаты, когда первые 3 месяца работы по продвижению оплачиваются клиентом в виде фиксированной суммы от 30 000 рублей. А при продолжении сотрудничества оплата идёт уже за целевой трафик. Подробности оплаты вам разъяснят наши менеджеры уже при первых консультациях. Кстати, к каждому клиенту у нас приставлен персональный менеджер, который будет вести именно ваш заказ на продвижение.
    </p>
    <p>
      <span class="bold">Что учитывается при расчете стоимости?</span>
    </p>
  </div>
</div>

<!-- Result block -->
<div class="container container-traffic-result">
  <p class="h2-like">
    В итоге вы получаете:
  </p>
</div>