<!-- Banner -->
<div class="banner-caption banner-traffic">
  <p>Продвижение сайта по трафику</p>
</div>

<!-- Intro block -->
<div class="container container-traffic-intro">
  
</div>

<!-- Potential block -->
<div class="container container-traffic-potential">
  
</div>

<!-- We do block -->
<div class="container container-traffic-we-do">
  
</div>

<!-- Price block -->
<div class="container container-traffic-price">
  
</div>

<!-- Result block -->
<div class="container container-traffic-result">
  
</div>