<!-- Banner -->
<div class="banner-caption banner-traffic">
  <p>Продвижение сайта по трафику</p>
</div>

<!-- Intro block -->
<div class="container container-traffic-intro p-t-30 p-b-30">
  <p class="column span-12 m-t-10 m-b-20">
    Предположим, что ваш сайт популярен: показывается на первых страницах в поисковых системах по запросам, каталог интернет-магазина имеет множество страниц с карточками товаров и каждый день на него заходят сотни посетителей. Но дело в том, что если эти посещения повторны, то уникальный целевой трафик снижается, а без трафика нет и высоких доходов.
  </p>
  <p class="column span-12 m-t-10">
    <span class="bold">Целевой трафик</span> – это ещё один параметр, по которому поисковики решают, что ваш сайт полезен. И если он будет невысок, то сайт постепенно снизит свои позиции в выдаче. <span class="bold">Целевые посетители</span> – это те, кому интересен именно ваш сайт, те, кто вероятнее всего совершит целевое действие: купят товар, закажут услугу, зарегистрируются, подпишутся на новости. <span class="bold">Уникальные посетители</span> – это те, кто заходят на сайт впервые, а не повторно. <span class="text-bg-highlight">Именно они нас и интересуют!</span>
  </p>
  
  <p class="h2-like column span-12 ">
    Для каких сайтов подходит продвижение по трафику?
  </p>
  <ul class="traffic-intro-list column span-12 m-t-10 m-b-20">
    <li class="column span-3 p-t-10 p-b-10">
      Интернет-магазины
    </li>
    <li class="column span-3 p-t-10 p-b-10">
      Корпоративные сайты
    </li>
    <li class="column span-3 p-t-10 p-b-10">
      Новостные сайты
    </li>
    <li class="column span-3 last p-t-10 p-b-10">
      Крупные тематические порталы
    </li>
  </ul>
</div>

<!-- Potential block -->
<div class="container-traffic-potential-wrapper">
  <div class="container container-traffic-potential p-t-10 p-b-30">
    <p class="h2-like column span-12">
      Потенциал продвижения по трафику для каждого владельца сайта
    </p>
    
    <p class="column span-12 m-b-10">
      <span class="bold">«Поднять» трафик на сайте</span> – значит увеличить уникальную посещаемость именно теми пользователями, которые готовы стать потенциальными клиентами.<br>
      Продвижение по трафику проводится по тысячам ключевых запросов, охватывая всю интернет-аудиторию, интересующуюся тематикой ресурса: по самым важным ключевым запросам и по направлению бизнеса.<br>
      <span class="text-highlight">Оплата производится за прирост посетителей.</span> <span class="text-bg-highlight">Чем больше переходов – тем ниже цена за клик.</span><br>
      Исключается пессимизация сайта за счёт постепенного наращивания ссылочной базы.<br>
      В результате продвижения по трафику посетители будут приходить на сайт уже <span class="bold">через 2-3 недели</span>.
    </p>
    
    <!-- Order button -->
    <div app-order-btn ya-goal="traffic" class="column span-12 m-t-10"></div>
  </div>
</div>

<!-- We do block -->
<div class="container container-traffic-we-do p-b-30">
  <p class="h2-like column span-12">
    Универсального рецепта продвижения нет, но мы подбираем инструменты так, чтобы они работали на результат
  </p>
  
  <!-- List -->
  <!-- Элементы списка идут сверху вниз селва направо -->
  <ul class="traffic-we-do-list">
    <li class="traffic-we-do-list-item column span-6 m-t-10 m-b-20">
      <div class="traffic-we-do-list-item-marker">
        <img src="/assets/images/list/check.png" alt="">
      </div>
      <p class="traffic-we-do-list-item-title m-t-15">
        Анализ веб-трафика
      </p>
    </li>
    <li class="traffic-we-do-list-item column span-6 last m-t-10 m-b-20">
      <div class="traffic-we-do-list-item-marker">
        <img src="/assets/images/list/check.png" alt="">
      </div>
      <p class="traffic-we-do-list-item-title m-t-15">
        Создание адаптивного дизайна
      </p>
    </li>
    <li class="traffic-we-do-list-item column span-6 m-t-10 m-b-20">
      <div class="traffic-we-do-list-item-marker">
        <img src="/assets/images/list/check.png" alt="">
      </div>
      <p class="traffic-we-do-list-item-title">
        Аудит сайта с последующим выбором стратегии продвижения
      </p>
    </li>
    <li class="traffic-we-do-list-item column span-6 last m-t-10 m-b-20">
      <div class="traffic-we-do-list-item-marker">
        <img src="/assets/images/list/check.png" alt="">
      </div>
      <p class="traffic-we-do-list-item-title">
        Оптимизация контента или создание правильного «с нуля»
      </p>
    </li>
    <li class="traffic-we-do-list-item column span-6 m-t-10 m-b-20">
      <div class="traffic-we-do-list-item-marker">
        <img src="/assets/images/list/check.png" alt="">
      </div>
      <p class="traffic-we-do-list-item-title m-t-15">
        Улучшение конверсии
      </p>
    </li>
    <li class="traffic-we-do-list-item column span-6 last m-t-10 m-b-20">
      <div class="traffic-we-do-list-item-marker">
        <img src="/assets/images/list/check.png" alt="">
      </div>
      <p class="traffic-we-do-list-item-title">
        Составление максимально широкого семантического ядра
      </p>
    </li>
    <li class="traffic-we-do-list-item column span-6 m-t-10 m-b-20">
      <div class="traffic-we-do-list-item-marker">
        <img src="/assets/images/list/check.png" alt="">
      </div>
      <p class="traffic-we-do-list-item-title m-t-15">
        Улучшение юзабилити сайта
      </p>
    </li>
    <li class="traffic-we-do-list-item column span-6 last m-t-10 m-b-20">
      <div class="traffic-we-do-list-item-marker">
        <img src="/assets/images/list/check.png" alt="">
      </div>
      <p class="traffic-we-do-list-item-title m-t-15">
        Корректировка структуры сайта
      </p>
    </li>
    <li class="traffic-we-do-list-item column span-6 m-t-10 m-b-20">
      <div class="traffic-we-do-list-item-marker">
        <img src="/assets/images/list/check.png" alt="">
      </div>
      <p class="traffic-we-do-list-item-title m-t-15">
        Анализ кликабельности кнопок и форм на сайте
      </p>
    </li>
    <li class="traffic-we-do-list-item column span-6 last m-t-10 m-b-20">
      <div class="traffic-we-do-list-item-marker">
        <img src="/assets/images/list/check.png" alt="">
      </div>
      <p class="traffic-we-do-list-item-title">
        Развитие сайта для повышения доверия и со стороны пользователей, и со стороны поисковиков
      </p>
    </li>
  </ul>
  
  <p class="column span-12 m-t-20 m-b-10">
    Над продвижением по трафику с вашим сайтом будут работать профессионалы: SEO-аналитики, маркетологи, специалисты по конверсии и юзабилити, копирайтеры, линк-менеджеры, дизайнеры.
  </p>
  
  <!-- Order button -->
  <div app-order-btn ya-goal="traffic" class="column span-12 m-t-10"></div>
</div>

<!-- Price block -->
<div class="container-traffic-price-wrapper">
  <div class="container container-traffic-price p-t-10 p-b-20">
    <p class="h2-like column span-12">
      Стоимость продвижения по трафику
    </p>
    <p class="column span-12 m-b-20">
      Сколько будет стоить продвижение сайта, станет понятно лишь после его анализа и обсуждения с вами наиболее приемлемых и результативных методов. Обычно SEO-оптимизаторы используют одну из моделей: оплата за позиции в выдаче поисковиков, оплата за целевой трафик или фиксированная оплата. Мы же используем двухступенчатую схему оплаты: фиксированную в начале продвижения и за трафик (клики) при продолжении сотрудничества. Объясним почему.<br>
      Продвижение сайта по трафику подразумевает некоторые риски для компании, которая будет им заниматься. Это и ограничения по сроку сотрудничества, и возможные неэффективные предложения со стороны клиента вплоть до отказа развивать сайт тем или иным способом, и возможные технические нюансы. Поэтому мы пришли к такой схеме оплаты, когда первые 3 месяца работы по продвижению оплачиваются клиентом в виде фиксированной суммы от 30 000 рублей. А при продолжении сотрудничества оплата идёт уже за целевой трафик. Подробности оплаты вам разъяснят наши менеджеры уже при первых консультациях. Кстати, к каждому клиенту у нас приставлен персональный менеджер, который будет вести именно ваш заказ на продвижение.
    </p>
    
    <p class="traffic-price-list-title column span-12 m-t-10 m-b-10">
      <span class="bold">Что учитывается при расчете стоимости?</span>
    </p>
    
    <!-- List -->
    <ul class="traffic-price-list column span-12 m-b-20">
      <li>Возраст сайта</li>
      <li>Тематика сайта</li>
      <li>Конкурентоспособность сайта в своей нише рынка</li>
      <li>Цели продвижения</li>
      <li>Регион продвижения  </li>
      <li>Количество и качество запросов</li>
      <li>Ассортимент товаров/услуг</li>
      <li>Текущее состояние сайта</li>
    </ul>
  </div>
</div>

<!-- Result block -->
<div class="container container-traffic-result p-t-10 p-b-30">
  <p class="h2-like column span-12">
    В итоге вы получаете:
  </p>
  
  <!-- List -->
  <ul class="traffic-result-list column span-12">
    <li class="traffic-result-list-item column span-12 m-t-10 m-b-20">
      <div class="traffic-result-list-item-marker">
        <img src="/assets/images/list/check.png" alt="">
      </div>
      <p class="traffic-result-list-item-title m-t-15">
        Хорошо оптимизированный сайт, который пользователи находят по широкому спектру запросов.
      </p>
    </li>
    <li class="traffic-result-list-item column span-12 m-t-10 m-b-20">
      <div class="traffic-result-list-item-marker">
        <img src="/assets/images/list/check.png" alt="">
      </div>
      <p class="traffic-result-list-item-title m-t-15">
        Высокую устойчивость результатов продвижения при меняющихся алгоритмах поисковых систем
      </p>
    </li>
    <li class="traffic-result-list-item column span-12 m-t-10 m-b-20">
      <div class="traffic-result-list-item-marker">
        <img src="/assets/images/list/check.png" alt="">
      </div>
      <p class="traffic-result-list-item-title m-t-15">
        Анализ данных по поведению посетителей на сайте
      </p>
    </li>
    <li class="traffic-result-list-item column span-12 m-t-10 m-b-20">
      <div class="traffic-result-list-item-marker">
        <img src="/assets/images/list/check.png" alt="">
      </div>
      <p class="traffic-result-list-item-title m-t-15">
        Рост трафика благодаря анализу поведенческих факторов и юзабилити
      </p>
    </li>
  </ul>
  
  <!-- Order button -->
  <div app-order-btn ya-goal="traffic" class="column span-12 m-b-10"></div>
</div>