.m-t-20{ margin-top: 20px; }
.m-b-20{ margin-bottom: 20px; }
.m-t-25{ margin-top: 25px; }
.m-b-25{ margin-bottom: 25px; }

.banner-mobile{
  background: url(../../assets/images/mobile/banner-mobile.jpg) 0 0 no-repeat;
}

.container-mobile{
  overflow: hidden;
  padding: 50px 0 0 0;

  p{
    .main-font;
  }
}