/* Banner */
.banner-ad-intro{
  background: url(/assets/images/advertising/banner-intro.jpg) no-repeat;
}

/* Common styles */
.container-ad-intro,
.container-ad-about,
.container-ad-advances{
  p{
    .main-font;
    margin: 0;
  }

  .h2-like{
    .bold;
    color: @green-color;
    font-size: 30px;
    line-height: 20px;
    text-align: center;
  }
}

/* Intro block */
.container-ad-intro{
  
}

/* About block */
.container-ad-about-wrapper{
  background: #f8f8f8;
}
.container-ad-about{
  
}

/* Advances block */
.container-ad-advances{
  
}