<!-- Banner -->
<div class="banner-caption banner-ad-intro">
  <p>Контекстная реклама</p>
</div>

<!-- Intro block -->
<div class="div container container-ad-intro p-t-30 p-b-30">
  <p class="column span-12 m-t-10 m-b-10">
    <span class="bold">Контекстная реклама</span> – вид интернет-рекламы, когда объявление о товаре или услуге направлено на  целевую аудиторию. Реклама продукта появляется в поисковой выдаче в тот момент, когда человек ищет  схожие товары и услуги. Пользователь вводит запрос, а система анализирует его и подбирает те объявления, которые содержат ключевые слова из этого запроса .<br>
    Когда контекстная реклама размещена в рекламной сети и на тематических площадках, она соответствует тематике страницы или отвечает интересам пользователя. Вы наверняка не раз видели такую рекламу в Google или Яндекс в верху или сбоку страницы.
  </p>
  
  <!-- Order button -->
  <div app-order-btn class="column span-12 m-t-10"></div>
</div>

<!-- About block -->
<div class="container-ad-about-wrapper">
  <div class="container container-ad-about p-t-10 p-b-30">
    <p class="h2-like column span-12">
      Контекстная реклама удобна и выгодна, потому что она:
    </p>
    
    <!-- List -->
    <ul class="ad-about-list column span-12">
      <li class="ad-about-list-item column span-12 m-t-10 m-b-20">
        <div class="ad-about-list-item-marker">
          <img src="/assets/images/list/num-1.png">
        </div>
        <p class="ad-about-list-item-title">
          Таргетированная
        </p>
        <p class="ad-about-list-item-desc">
          По географическому местоположению (вплоть до индекса внутри города), времени суток, полу, возрасту, роду занятий, типам устройств и другим признакам.
        </p>
      </li>
      <li class="ad-about-list-item column span-12 m-t-10 m-b-20">
        <div class="ad-about-list-item-marker">
          <img src="/assets/images/list/num-2.png">
        </div>
        <p class="ad-about-list-item-title">
          Короткая
        </p>
        <p class="ad-about-list-item-desc">
          Не требует времени на ознакомление
        </p>
      </li>
      <li class="ad-about-list-item column span-12 m-t-10 m-b-20">
        <div class="ad-about-list-item-marker">
          <img src="/assets/images/list/num-3.png">
        </div>
        <p class="ad-about-list-item-title">
          Емкая
        </p>
        <p class="ad-about-list-item-desc">
          Содержит всю самую важную информацию о продукте и компании.
        </p>
      </li>
      <li class="ad-about-list-item column span-12 m-t-10 m-b-20">
        <div class="ad-about-list-item-marker">
          <img src="/assets/images/list/num-4.png">
        </div>
        <p class="ad-about-list-item-title">
            Имеет цепляющий заголовок
        </p>
        <p class="ad-about-list-item-desc">
          Интригующий или максимально содержательный
        </p>
      </li>
      <li class="ad-about-list-item column span-12 m-t-10 m-b-20">
        <div class="ad-about-list-item-marker">
          <img src="/assets/images/list/num-5.png">
        </div>
        <p class="ad-about-list-item-title">
          Может быть разного формата
        </p>
        <p class="ad-about-list-item-desc">
          В виде текста, изображения или видео-объявления
        </p>
      </li>
      <li class="ad-about-list-item column span-12 m-t-10 m-b-20">
        <div class="ad-about-list-item-marker">
          <img src="/assets/images/list/num-6.png">
        </div>
        <p class="ad-about-list-item-title">
          Позволяет менять настройки
        </p>
        <p class="ad-about-list-item-desc">
          Когда, где, кому, как часто, на каком языке и на каких устройствах показывать рекламу.
        </p>
      </li>
      <li class="ad-about-list-item column span-12 m-t-10 m-b-20">
        <div class="ad-about-list-item-marker">
          <img src="/assets/images/list/num-7.png">
        </div>
        <p class="ad-about-list-item-title">
          Автоматически использует расширения, повышающие эффективность рекламы:
        </p>
        <p class="ad-about-list-item-desc">
          Оценки пользователей, рейтинг продавца, социальные расширения.
        </p>
      </li>
      <li class="ad-about-list-item column span-12 m-t-10 m-b-20">
        <div class="ad-about-list-item-marker">
          <img src="/assets/images/list/num-8.png">
        </div>
        <p class="ad-about-list-item-title">
          Позволяет видеть подробную статистику
        </p>
        <p class="ad-about-list-item-desc">
          Количество показов,  численность и характер переходов, ключевые слова.
        </p>
      </li>
      <li class="ad-about-list-item column span-6 m-t-10 m-b-20">
        <div class="ad-about-list-item-marker">
          <img src="/assets/images/list/num-9.png">
        </div>
        <p class="ad-about-list-item-title">
          Вы сами устанавливаете цену за клик
        </p>
        <p class="ad-about-list-item-desc">
          Выбираете приемлемый суточный расход на рекламу.
        </p>
      </li>
      <li class="column span-6 last">
        <!-- Order button -->
        <div app-order-btn class="column span-6 last"></div>
      </li>
    </ul>
  </div>
</div>

<!-- Advances block -->
<div class="container container-ad-advances p-t-10 p-b-30">
  <p class="h2-like column span-12 m-t-10">
    Контекстная реклама - идеальный вариант для посадочной страницы
  </p>
  <div class="ad-advance column span-12 m-b-10">
    <div class="ad-advance-marker column span-2">
      <img src="/assets/images/advertising/list-ad1.png">
    </div>
    <p class="ad-advance-desc column span-10 last m-t-10">
      <span class="bold">Landing Page</span> называется посадочной или целевой страницей потому, что именно на неё попадает человек, когда кликает по контекстному объявлению, рекламирующему продукт. Ознакомившись с лендингом, пользователь может перейти на основной сайт компании или в интернет-магазин, нажав на соответствующую кнопку, либо оформив заказ на самой странице захвата. Если контекстное объявление создано грамотно и показано в нужный момент, оно с большой вероятностью привлечёт внимание к лендингу.
    </p>
  </div>
  
  <p class="h2-like column span-12">
    Почему контекстная реклама сразу приводит к вам клиентов?
  </p>
  <div class="ad-advance column span-12 m-b-10">
    <p class="ad-advance-desc column span-10">
      Если вы  открыли новый бизнес и  не успели наработать клиентскую базу, уже завтра вам будут звонить потенциальные клиенты, узнавшие о вас из контекстной рекламы. <span class="text-bg-highlight">Данное объявление видит огромное количество целевой аудитории.</span> Причём каждый её сегмент видит то, что будет интересно именно ему (например, домохозяйки, живущие в разных районах города и области, различающиеся по возрасту, уровню дохода и так далее). Поэтому контекстная реклама бьёт точно в цель, и часть людей гарантированно кликнет на объявление. А вот какой процент – это зависит от того, насколько профессионально ведётся рекламная кампания
    </p>
    <div class="ad-advance-marker column span-2 last">
      <img src="/assets/images/advertising/list-ad1.png">
    </div>
  </div>
  
  <p class="h2-like column span-12">
    Качественная контекстная рекламная компания
  </p>
  <div class="ad-advance column span-12 m-b-10">
    <div class="ad-advance-marker column span-2">
      <img src="/assets/images/advertising/list-ad1.png">
    </div>
    <p class="ad-advance-desc column span-10 last">
      Объявления с контекстной рекламой размещаются в <span class="text-highlight">Google Adwords</span>, <span class="text-highlight">Яндекс.Директ</span> и <span class="text-highlight">Begun</span>. Однако рекламу дают миллионы пользователей, а в выдачу попадают только 3-5 объявлений с самым высоким рейтингом. Как сделать так, чтобы именно ваше сообщение было показано потенциальным покупателям в нужный момент? <span class="text-bg-highlight">Для этого важно грамотно разработать рекламную кампанию, задать выгодную стоимость, настроить показы рекламных блоков и корректировать их на основании статистики.</span><br>
      Мы знаем, как с помощью контекстной рекламы повысить отдачу от ваших вложений. Ежедневно мы ведём и оптимизируем десятки успешных рекламных кампаний для разных видов бизнеса и сегментов рынка. Наши кампании правильно настроены и приносят результат.<span class="text-bg-highlight"> Именно поэтому с уверенностью можем утверждать, что, заказав контекстную рекламу в OnlineLab, вы получите потенциальных клиентов!</span>
    </p>
  </div>
  
  <!-- Order button -->
  <div app-order-btn class="column span-12"></div>
</div>

<!-- Last projects -->
<div class="container" app-last-projects title="Последние выполненные работы" filter-by="marketing"></div>