
@import 'font-awesome/less/font-awesome.less';
@import 'bootstrap/less/bootstrap.less';

@fa-font-path: '/bower_components/font-awesome/fonts';


/**
 * App-wide Styles
 */
.generate_margin_classes(100);
.generate_margin_classes(@n, @i: 0) when (@i =< @n) {
	.mg_l_@{i} {
		margin-left: (1px * @i)!important;
	}
	.mg_r_@{i} {
		margin-right: (1px * @i) !important;
	}
	.mg_t_@{i} {
		margin-top: (1px * @i) !important;
	}
	.mg_b_@{i} {
		margin-bottom: (1px * @i) !important;
	}
	.generate_margin_classes(@n, (@i + 5));
}

.generate_padding_classes(100);
.generate_padding_classes(@n, @i: 0) when (@i =< @n) {
	.pd_l_@{i} {
		padding-left: (1px * @i)  !important;
	}
	.pd_r_@{i} {
		padding-right: (1px * @i) !important;
	}
	.pd_t_@{i} {
		padding-top: (1px * @i) !important;
	}
	.pd_b_@{i} {
		padding-bottom: (1px * @i) !important;
	}
  .generate_padding_classes(@n, (@i + 5));
}

   
/* Reset tags */
@import '../assets/css/reset.less';
/* Import fonts */
@import '../assets/fonts/fonts.less';
/* App wide styles */
@import '../assets/css/style.less';
/* Inner page styles */
@import '../assets/css/inner-page.less';
/* Grid system */
@import '../assets/css/grid.less'; 

// injector
@import 'directives/feedback-form/feedback-form.less';
@import 'directives/footer/footer.less';
@import 'directives/header/header.less';
@import 'directives/side-menu/side-menu.less';
@import 'directives/team-gallery/team-gallery.less';
@import 'partials/blog/blog.less';
@import 'partials/blogpost/blogpost.less';
@import 'partials/contact/contact.less';
@import 'partials/development/development.less';
@import 'partials/electronics/electronics.less';
@import 'partials/main/main.less';
@import 'partials/marketing/marketing.less';
@import 'partials/mobile/mobile.less';
@import 'partials/project-details/project-details.less';
@import 'partials/projects/projects.less';
@import 'partials/resources/resources.less';
@import 'partials/store/store.less';
@import 'partials/team/team.less';
@import 'partials/vacancies/vacancies.less';
@import 'veiws/breadcrumbs.less';
@import 'hero-slider.less';
@import 'isotope.less';
@import 'tooltip-arrow.less';
// endinjector
