
@import 'font-awesome/less/font-awesome.less';
@import 'bootstrap/less/bootstrap.less';

@fa-font-path: '/bower_components/font-awesome/fonts';


@content-width: 1180px;
@green-color: #20a493;


/**
 * App-wide Styles
 */
.generate_margin_classes(100);
.generate_margin_classes(@n, @i: 0) when (@i =< @n) {
	.mg_l_@{i} {
		margin-left: (1px * @i)!important;
	}
	.mg_r_@{i} {
		margin-right: (1px * @i) !important;
	}
	.mg_t_@{i} {
		margin-top: (1px * @i) !important;
	}
	.mg_b_@{i} {
		margin-bottom: (1px * @i) !important;
	}
	.generate_margin_classes(@n, (@i + 5));
}

.generate_padding_classes(100);
.generate_padding_classes(@n, @i: 0) when (@i =< @n) {
	.pd_l_@{i} {
		padding-left: (1px * @i)  !important;
	}
	.pd_r_@{i} {
		padding-right: (1px * @i) !important;
	}
	.pd_t_@{i} {
		padding-top: (1px * @i) !important;
	}
	.pd_b_@{i} {
		padding-bottom: (1px * @i) !important;
	}
  .generate_padding_classes(@n, (@i + 5));
}
   
/* Reset tags */
@import '../assets/css/reset.less';

/* Import fonts */
@import '../assets/fonts/fonts.less';


.banner-caption{
  display: table;
  height: 200px;
  width: 100%;

  p{
    color: #fff;
    display: table-cell;
    font: 50px a_CopperGothCpsExp-regular;
    letter-spacing: 1.5px;
    text-align: center;
    vertical-align: middle;
  }
}

.main-font{
  color: #6c6c6c;
  font: 16px/30px ProximaNovaRegular;
}

.text-bold{
  color: #000;
  font-family: ProximaNovaBold;
}
.text-highlight{
  color: @green-color;
}
.text-bg-highlight{
  background: #eaf6f4;
}

.text-left{ text-align: left; }
.text-center{ text-align: center; }
.text-right{ text-align: right; }

.block-think{
  background: #eaf6f4;
  border: 1px solid #dbe7e6;
  color: #000 !important;
  font: normal 16px ProximaNovaRegular !important;
  padding: 25px 0 25px 0;
  text-align: center;
}

.anchor{
  display: block;
  height: 0;
}

.to-left{ float: left; }
.to-right{ fload: right; }


@import '../assets/css/grid.less'; /* Grid system */

// injector
@import 'directives/footer/footer.less';
@import 'directives/header/header.less';
@import 'partials/blog/blog.less';
@import 'partials/blogpost/blogpost.less';
@import 'partials/contact/contact.less';
@import 'partials/development/development.less';
@import 'partials/electronics/electronics.less';
@import 'partials/main/main.less';
@import 'partials/marketing/marketing.less';
@import 'partials/mobile/mobile.less';
@import 'partials/project-details/project-details.less';
@import 'partials/projects/projects.less';
@import 'partials/team/team.less';
@import 'partials/vacancies/vacancies.less';
@import 'team-gallery_directive/team-gallery_directive.less';
@import 'tooltip-arrow/tooltip-arrow.less';
@import 'hero-slider.less';
// endinjector



.isotope{
  overflow: hidden;
}
.isotope .element-item{
  display: block;
  float: left;
	height: 270px;
  width: 285px;
}
.isotope .element-item .item-description{
  width: 100%;
  height: 0;
  background-color: rgba(0,0,0,0.6);
  
	opacity:0;
	-webkit-transition: opacity 0.2s ease-in-out 0.05s;
	   -moz-transition: opacity 0.2s ease-in-outt 0.05s;
	     -o-transition: opacity 0.2s ease-in-out 0.05s;
	        transition: opacity 0.2s ease-in-out 0.05s;
}
.isotope .element-item:hover .item-description{
	height:100%;
	opacity:1;
  -webkit-transition: opacity 0.2s ease-in-out 0.051s;
	   -moz-transition: opacity 0.23s ease-in-outt 0.05s;
	     -o-transition: opacity 0.2s ease-in-out 0.05s;
	        transition: opacity 0.2s ease-in-out 0.05s;
}
.isotope .element-item .item-description .item-description-caption{
	float:left;
	padding:20px 20px 10px 20px;
	font-size:22px;
	color: #ffffff;
}
.isotope .element-item .item-description .item-description-text{
	float:left;
	padding:10px 20px 10px 20px;
	font-size:18px;
	color:#888888;
}



#filters{
 position: relative;	
}
#filters button{ 
	background: none;
	border: none;	
	font-size:16px;
	
}
#filters button:focus{ 
	outline:none;
	
	
}
#filters button.is-checked{ 
	background-color: #c22d2d;
	border: none !important	;
	color:#ffffff;
	
}


.activ_filter_point{
  background-image: url("/assets/images/city_active.png");
  width: 10px;
  height: 10px;
  position: absolute;
  background-repeat: no-repeat;
  display: block;
  left: 0;
     -webkit-transition: left 0.3s ease-out 0.1s;
     -moz-transition: left 0.3s ease-out 0.1s;
     -o-transition: left 0.3s ease-out 0.1s;
     transition: left 0.3s ease-out 0.1s;
}



















@media (min-width: 768px){
	.services_block .service{
		height: 320px;
	}		
}

@media (min-width: 992px){
	.services_block .service{
		height: 440px;
	}	
	.content-block.description  .description_text{
		line-height: 23px;
	}
	.content-block.description  .description_caption{
		margin: 0 0 25px 0;
	}
}
