<!-- Banner -->
<div class="banner-caption banner-smm">
  <p>Продвижение в социальных сетях - SMM</p>
</div>

<!-- Intro block -->
<div class="container container-smm-intro p-t-30 p-b-30">
  <p class="column span-12 m-t-10 m-b-20">
    <span class="bold">Социальные платформы и новые медиа</span> – это площадки массовой коммуникации посредством интернета, они являются широкими современными каналами для продвижения бренда и привлечения трафика. Контент, который передаётся по социальным сетям, вызывает больше доверия со стороны потенциальных клиентов, потому что он распространяется самими пользователями. Такой рекомендательный механизм получил название «сарафанное радио», и мы отлично знаем, как его запустить и поддерживать на благо вашей компании.
  </p>
  <p class="column span-12 m-t-10 m-b-10">
    <span class="bold">SMM (Social media marketing)</span> – продвижение в социальных сетях – воздействует на целевую аудиторию точечно. Выбирая наиболее подходящие площадки и способы общения с аудиторией можно эффективно увеличить трафик, повысить доверие к бренду и создать нужную репутацию в интернете. <span class="text-bg-highlight">В OnlineLab работают специалисты по SMM-продвижению, которые владеют профессиональным инструментарием и умеют правильно позиционировать группу в социальной сети.</span> Вы можете воспользоваться нашим опытом в рамках услуги «SMM-продвижение в социальных сетях» с тем, чтобы активно продвигать ваш бренд через социальные медиа.
  </p>
  
  <!-- Order button -->
  <div app-order-btn ya-goal="smm" class="column span-12"></div>
</div>

<!-- We do block -->
<div class="container-smm-we-do-wrapper">
  <div class="container container-smm-we-do p-t-10 p-b-30">
    <p class="h2-like column span-12">
      Ваш персональный комьюнити-менеджер
    </p>
    <p class="column span-12 m-t-10 m-b-10">
      На время SMM-продвижения наши специалисты объединятся, чтобы стать вашим удалённым «персональным комьюнити-менеджером».<br>
      <span class="bold">Вот что мы будем делать для вашей компании:</span>
    </p>
    
    <!-- List -->
    <!-- Порядок элементов списка: слева направо, сверху вниз -->
    <ul class="smm-list-we-do column span-12 m-t-20">
      <li class="column span-6 m-t-10 m-b-10">
        <div class="smm-list-we-do-item-marker">
          <img src="/assets/images/list/num-1.png" alt="">
        </div>
        <p class="smm-list-we-do-item-title m-t-15">
          Анализ вашего бизнеса
        </p>
      </li>
      <li class="column span-6 last m-t-10 m-b-10">
        <div class="smm-list-we-do-item-marker">
          <img src="/assets/images/list/num-6.png" alt="">
        </div>
        <p class="smm-list-we-do-item-title">
          Выбор инструментов воздействия (от проведения флеш-мобов до разработки системы клиентской лояльности)
        </p>
      </li>
      <li class="column span-6 m-t-10 m-b-20">
        <div class="smm-list-we-do-item-marker">
          <img src="/assets/images/list/num-2.png" alt="">
        </div>
        <p class="smm-list-we-do-item-title m-t-5">
          Мониторинг медиа-площадок на упоминаемость компании
        </p>
      </li>
      <li class="column span-6 last m-t-10 m-b-20">
        <div class="smm-list-we-do-item-marker">
          <img src="/assets/images/list/num-7.png" alt="">
        </div>
        <p class="smm-list-we-do-item-title m-t-5">
          Работа по управлению вирусным маркетингом, таргетированной контекстной рекламы
        </p>
      </li>
      <li class="column span-6 m-t-10 m-b-10">
        <div class="smm-list-we-do-item-marker">
          <img src="/assets/images/list/num-3.png" alt="">
        </div>
        <p class="smm-list-we-do-item-title">
          Исследование поведения и интересов целевой аудитории
        </p>
      </li>
      <li class="column span-6 last m-t-10 m-b-10">
        <div class="smm-list-we-do-item-marker">
          <img src="/assets/images/list/num-8.png" alt="">
        </div>
        <p class="smm-list-we-do-item-title">
          Работа по повышению активности пользователей в сообществах и по направлению обсуждений в нужное для компании русло
        </p>
      </li>
      <li class="column span-6 m-t-10 m-b-20">
        <div class="smm-list-we-do-item-marker">
          <img src="/assets/images/list/num-4.png" alt="">
        </div>
        <p class="smm-list-we-do-item-title m-t-10">
          Постановка целей и задач продвижения
        </p>
      </li>
      <li class="column span-6 last m-t-10 m-b-20">
        <div class="smm-list-we-do-item-marker">
          <img src="/assets/images/list/num-9.png" alt="">
        </div>
        <p class="smm-list-we-do-item-title m-t-5">
          Работа по созданию нужного контента (посты, статьи, пресс-релизы)
        </p>
      </li>
      <li class="column span-6 m-t-10 m-b-20">
        <div class="smm-list-we-do-item-marker">
          <img src="/assets/images/list/num-5.png" alt="">
        </div>
        <p class="smm-list-we-do-item-title m-t-10">
          Выбор стратегии присутствия в социальных сетях
        </p>
      </li>
      <li class="column span-6 last m-t-10 m-b-20">
        <div class="smm-list-we-do-item-marker">
          <img src="/assets/images/list/num-10.png" alt="">
        </div>
        <p class="smm-list-we-do-item-title">
          Аналитика и статистика изменения информационого поля в соц.сетях
        </p>
      </li>
    </ul>
  </div>
</div>

<!-- Result block -->
<div class="container container-smm-result p-t-10 p-b-30">
  <p class="h2-like column span-12">
    В результате вы получите:
  </p>
  
  <!-- List -->
  <ul class="smm-list-result">
    <li class="column span-12 m-t-10 m-b-20">
      <div class="smm-list-result-item-marker">
        <img src="/assets/images/list/check.png" alt="">
      </div>
      <p class="smm-list-result-item-title m-t-10">
        Повышение ценности бренда в глазах целевой аудитории
      </p>
    </li>
    <li class="column span-12 m-t-10 m-b-20">
      <div class="smm-list-result-item-marker">
        <img src="/assets/images/list/check.png" alt="">
      </div>
      <p class="smm-list-result-item-title m-t-10">
        Привлечение на свою сторону «адвокатов» бренда
      </p>
    </li>
    <li class="column span-12 m-t-10 m-b-20">
      <div class="smm-list-result-item-marker">
        <img src="/assets/images/list/check.png" alt="">
      </div>
      <p class="smm-list-result-item-title">
        Увеличение посещаемости сайта за счёт дополнительного трафика с социальных площадок реальными потребителями
      </p>
    </li>
    <li class="column span-12 m-t-10 m-b-20">
      <div class="smm-list-result-item-marker">
        <img src="/assets/images/list/check.png" alt="">
      </div>
      <p class="smm-list-result-item-title m-t-10">
        Увеличение продаж с сайта
      </p>
    </li>
    <li class="column span-12 m-t-10 m-b-20">
      <div class="smm-list-result-item-marker">
        <img src="/assets/images/list/check.png" alt="">
      </div>
      <p class="smm-list-result-item-title m-t-10">
        Снижение издержек рекламного бюджета в следствии увеличения количества постоянных клиентов
      </p>
    </li>
    <li class="column span-12 m-t-10 m-b-20">
      <div class="smm-list-result-item-marker">
        <img src="/assets/images/list/check.png" alt="">
      </div>
      <p class="smm-list-result-item-title m-t-10">
        Новых подписчиков и привлечение постоянной читающей аудитории
      </p>
    </li>
    <li class="column span-12 m-t-10 m-b-20">
      <div class="smm-list-result-item-marker">
        <img src="/assets/images/list/check.png" alt="">
      </div>
      <p class="smm-list-result-item-title">
        Рекламу в сообществах и таргетированную рекламу, благодаря которой показ осуществляется только для избранной целевой аудитории
      </p>
    </li>
  </ul>
  
  <!-- Order button -->
  <div app-order-btn ya-goal="smm" class="column span-12"></div>
</div>

<!-- Last projects -->
<div class="container" app-last-projects title="Последние выполненные работы" filter-by="marketing"></div>
