<!-- Banner -->
<div class="banner-caption banner-smm">
  <p>Продвижение в социальных сетях.<br>SMM</p>
</div>

<!-- Intro block -->
<div class="container container-smm-intro">
  <p>
    <span class="bold">Социальные платформы и новые медиа</span> – это площадки массовой коммуникации посредством интернета, они являются широкими современными каналами для продвижения бренда и привлечения трафика. Контент, который передаётся по социальным сетям, вызывает больше доверия со стороны потенциальных клиентов, потому что он распространяется самими пользователями. Такой рекомендательный механизм получил название «сарафанное радио», и мы отлично знаем, как его запустить и поддерживать на благо вашей компании.
  </p>
  <p>
    <span class="bold">SMM (Social media marketing)</span> – продвижение в социальных сетях – воздействует на целевую аудиторию точечно. Выбирая наиболее подходящие площадки и способы общения с аудиторией можно эффективно увеличить трафик, повысить доверие к бренду и создать нужную репутацию в интернете. <span class="text-bg-highlight">В OnlineLab работают специалисты по SMM-продвижению, которые владеют профессиональным инструментарием и умеют правильно позиционировать группу в социальной сети.</span> Вы можете воспользоваться нашим опытом в рамках услуги «SMM-продвижение в социальных сетях» с тем, чтобы активно продвигать ваш бренд через социальные медиа.
  </p>
</div>

<!-- We do block -->
<div class="container-smm-we-do-wrapper">
  <div class="container container-smm-we-do">
    <p class="h2-like">
      Ваш персональный комьюнити-менеджер
    </p>
    <p>
      На время SMM-продвижения наши специалисты объединятся, чтобы стать вашим удалённым «персональным комьюнити-менеджером».
    </p>
    <p><span class="bold">Вот что мы будем делать для вашей компании:</span></p>
  </div>
</div>

<!-- Result block -->
<div class="container container-smm-result">
  <p class="h2-like">
    В результате вы получите:
  </p>
</div>