/* Banner */
.banner-smm{
  background: url(/assets/images/smm/banner-smm.jpg) no-repeat;
}

/* Common styles */
.container-smm-intro,
.container-smm-we-do,
.container-smm-result{
  p{
    .main-font;
    margin: 0;
  }

  .h2-like{
    .bold;
    color: @green-color;
    font-size: 30px;
    line-height: 20px;
    text-align: center;
  }
}

/* Intro block */
.container-smm-intro{
  
}

/* We do block */
.container-smm-we-do-wrapper{
  background: #f8f8f8;
}
.container-smm-we-do{
  /* List */
  ul.smm-list-we-do{
    list-style: none;
    margin: 0;
    padding: 0;
    
    p.smm-list-we-do-item-title{
      .bold;
      font-size: 20px;
      line-height: 20px;
    }
  }
}

/* Result block */
.container-smm-result{
  /* List */
  ul.smm-list-result{
    list-style: none;
    margin: 0;
    padding: 0;
    
    p.smm-list-result-item-title{
      .bold;
      font-size: 20px;
      line-height: 20px;
    }
  }
}