.footer-wrapper{

}

.content-block.partners-line{
  background-color: #f5f5f5;
  height: 97px;
}

.partner_footer{
  height: 52px;
  width: 150px;
  background-image: url(/assets/images/partners_footer.png);
  margin-top: 23px;
}

.partner2{
  background-position-y:52px;
}
.partner3{
  background-position-y:104px;
}
.partner4{
  background-position-y:156px;
}
.partner5{
  background-position-y:208px;
}
.partner6{
  background-position-y:260px;
}


/* Footer menu */
.footer-menu-wrapper{
  background-image: url(/assets/images/footer_menu_bg.png);
  
  .footer-menu{
    padding: 22px 0 0 0;
    
    .footer_menu_col{
      ul{
        list-style-type: none;
        padding: 0;
        
        li{
          line-height:30px;

          a{
            color:#ffffff;
            font-family:ProximaNovaRegular;
            font-size:14px;
          }
        }
      }
    }
  }
}


.footer-contacts-wrapper{
  color:#878787;
  font-size:18px;
  font-family:ProximaNovaRegular;

  .footer-contacts{
    & > div{
      height:100px;
      line-height: 100px;
    }
    a{
      color:#28a797;
      font-size:18px;
      font-family:ProximaNovaBold;
    }
  }
}


.content-block.footer_bottom{
  background-color:#ebebeb;
  border-top:solid 1px #d4d4d4;
}

/* Social icons */
.social_footer{
  overflow: hidden;
  a{
    display:block;
    float:left;
    width:40px;
    height:40px;
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  .vk_footer{
    background-image: url(/assets/images/footer/vk-gray.png);
    &:hover{
      background-image: url(/assets/images/footer/vk.png);
    }
  }
  .linked_footer{
    background-image: url(/assets/images/footer/in-gray.png);
    &:hover{
      background-image: url(/assets/images/footer/in.png);
    }
  }
  .github_footer{
    background-image: url(/assets/images/footer/github-gray.png);
    &:hover{
      background-image: url(/assets/images/footer/github.png);
    }
  }
  .facebook_footer {
    background-image: url(/assets/images/footer/fb-gray.png);
    &:hover{
      background-image: url(/assets/images/footer/fb.png);
    }
  }
  .google_plus_footer{
    background-image: url(/assets/images/footer/google-gray.png);
    &:hover{
      background-image: url(/assets/images/footer/google.png);
    }
  }
}




.content-block.footer_bottom .vacancy_footer{
  color:#747474;
  font-size:14px;
}
.content-block.footer_bottom .vacancy_footer span{
  color:#000000;
  font-size:14px;
  font-family: "ProximaNovaBold";
}

.content-block.footer_bottom .vacancy_footer a{
  color:#28a797;
  font-family: "ProximaNovaBold";
  text-decoration:none;
}


.content-block.footer_bottom .presentation_footer{
  color:#28a797;
  font-family: "ProximaNovaBold";
  text-decoration:none;
  float:left;
  font-size:14px;
  margin-top: 10px;
  visibility: hidden;
}

.content-block.footer_bottom  .footer_bottom_left{
  float:left;
  width:380px;
  padding-top:10px;
}

.content-block.footer_bottom  .footer_bottom_center{
  float:left;
  width:420px;
  padding-top:5px;
}
.content-block.footer_bottom .footer_bottom_right{
  float:right;
  text-align:right;
  color:#747474;
  padding-top: 15px;
  font-size:14px;
}