.banner-mobile{
  background-image: url(/assets/images/mobile/banner-mobile.jpg);
}

.container-mobile{
  overflow: hidden;

  p{
    .main-font;
    margin: 0;
  }
  
  .mobile-advantage{
    & > p{
      padding-left: 200px;
    }
    
    .mobile-advantage-title{
      .bold;
      color: #000;
      font-size: 20px;
    }

    .mobile-advantage-methods{
      margin: 0;
      padding: 0 0 0 200px;
      
      p{
        .bold;
        color: #000;
      }
      li{
        background: url(/assets/images/mobile/list-marker.png) 0 center no-repeat;
        color: @green-color;
        font-size: 16px;
        line-height: 30px;
        list-style: none;
        padding: 0 0 0 21px;
      }
    }
  }

  .h2-like{
    .bold;
    color: @green-color;
    font-size: 30px;
    line-height: 20px;
    text-align: center;
  }
}