<div class="container container-vacancies p-b-30">
  <p class="h2-like column span-12">Вакансии</p>

  <div class="column span-1">
    &nbsp;
  </div>
  <div class="column span-11 last">
    <p class="h3-like column span-11 last m-t-40 m-b-10">Frontend</p>
    <p class="column span-11 last m-t-10 m-b-40">
      Обязательно: html, css, js, git, умение работать в команде <br>
      (понимание, что такое форк, пулл-реквест,бранч, одним словом, общий git workflow)<br>
      <br>
      Желательно: haml/slim/jade, sass/scss, CoffeeScript, Node.js.
    </p>

    <p class="h3-like column span-11 last m-t-40 m-b-10">Backend</p>
    <p class="column span-11 last m-t-10 m-b-40">
      Обязательно: git, умение работать в команде (понимание, что такое форк, <br>
      пулл-реквест,бранч, одним словом, общий git workflow)<br>
      Знание одного или нескольких серверных языков (PHP, Ruby, Python, Nodejs, Java, Go etc.)
    </p>
  
    <p class="vacancy-test-link column span-11 last m-t-40 m-b-40">
      <a href="#">Для подачи заявки пройдите тест.</a>
    </p>
  </div>
</div>