.banner-store-intro{
  background: url(/assets/images/store/banner-intro.jpg) no-repeat;
}
.banner-store-advances{
  background: url(/assets/images/store/banner-advances.jpg) no-repeat;
}
.banner-store-price{
  background: url(/assets/images/store/banner-price.jpg) no-repeat;
}