<!-- Intro block banner -->
<div class="banner-caption banner-store-intro">
  <p>Скоростные интернет-магазины<br>нового поколения</p>
</div>
<!-- Intro block  -->
<div class="container container-store-intro">
  
</div>

<!-- Advances block banner -->
<div class="banner-caption banner-store-advances">
  <p>Продавать через интернет удобно и<br>выгодно. Почему?</p>
</div>
<!-- Advances block -->
<div class="container container-store-advances">
  
</div>

<!-- Workflow block -->
<div class="container container-store-workflow">
  
</div>

<!-- Price block banner -->
<div class="banner-caption banner-store-price">
  <p>Стоимость интернет-магазина</p>
</div>
<!-- Price block -->
<div class="container container-store-price">
  
</div>

<!-- Last projects block -->
<div class="container container-store-last-projects">
  
</div>