<!-- Intro block banner -->
<div class="banner-caption banner-store-intro">
  <p>Скоростные интернет-магазины<br>нового поколения</p>
</div>
<!-- Intro block  -->
<div class="container container-store-intro">
  <p class="block-think">Мы делаем интернет-магазины скоростными во всех смыслах: разработка в короткие сроки и быстрая работа самого магазина</p>
  <p>
    Интернет-магазин – это крупный и мощный web-сервис с нагруженным функционалом: каталог, распределение продукции в логистической системе, фильтры поиска товара, личный кабинет, система регистрации и оплаты, интеграция с бухгалтерией, инструменты рекламы и маркетинга – и это только основа.<br>
    Мы советуем делать интернет-магазин <span class="text-highlight">масштабируемым</span>, ведь со временем в него будет добавляться многое: от карточек товаров до элементов юзабилити. При этом он должен быть красивым, удобным, понятным и с быстрой загрузкой страниц.<br>
    Со всеми этими задачами <span class="text-bg-highlight">OnlineLab справляется точно и быстро благодаря опыту, слаженной работе команды и мощным современным технологиям программирования.</span>
  </p>
  
  <p class="h2-like">Факторы качества</p>
  <ul class="store-factors-list">
    <li>
      <div>
        <img src="/assets/images/store/factors-list-1.png" alt="">
      </div>
      <p class="store-factors-list-item-title">
        Современный подход к программированию
      </p>
      <p class="store-factors-list-item-desc">
        Мы используем языки программирования RoR и AngularJS, позволяющие быстро создавать и даже автоматически тестировать высокопроизводительные интернет-магазины. Эти фреймворки имеют богатый инструментарий и много удобных пользовательских расширений. Но главное – они позволяют делать сложные интерфейсы достаточно быстрыми.
      </p>
    </li>
    <li>
      <div>
        <img src="/assets/images/store/factors-list-2.png" alt="">
      </div>
      <p class="store-factors-list-item-title">
        Яркий дизайн ваших сайтов
      </p>
      <p class="store-factors-list-item-desc">
        Дизайн будет отражать концепцию интернет-магазина и идеологию бренда. Мы объясним, что перед вами не просто айдентика, а визуальный язык с точки зрения гармонии восприятия и психологии потребителя.
      </p>
    </li>
    <li>
      <div>
        <img src="/assets/images/store/factors-list-3.png" alt="">
      </div>
      <p class="store-factors-list-item-title">
        Удобство для пользователей превыше всего
      </p>
      <p class="store-factors-list-item-desc">
        Мы тщательно продумываем интерфейсы интернет-магазинов, ведь от того, насколько удобно пользоваться сервисом, зависит популярность магазина. Сервис и витрина, управление контентом вашего магазина будут соответствовать заявленному качеству. И мы ответственно подходим к надежности и безопасности вашего сайта.
      </p>
    </li>
    <li>
      <div>
        <img src="/assets/images/store/factors-list-4.png" alt="">
      </div>
      <p class="store-factors-list-item-title">
        Интеграция с учетными и платежными системами
      </p>
      <p class="store-factors-list-item-desc">
        «1С:Предприятие», «Мой склад» и прочие программы учёта будут работать как единый механизм с вашим интернет-магазином. По необходимости запустим интернет-эквайринг – услуга приёма платежей через Интернет с платёжных карт и электронных кошельков.
      </p>
    </li>
    <li>
      <div>
        <img src="/assets/images/store/factors-list-5.png" alt="">
      </div>
      <p class="store-factors-list-item-title">
        Высокая конверсия
      </p>
      <p class="store-factors-list-item-desc">
        Мы создаем грамотные SEO-описания товаров интернет-магазина, полезные для поисковиков и приятные для покупателей. Напишем привлекательные УТП для баннеров, коммерческих предложений и e-mail-рассылок. Применим инструменты маркетинга и различные методы продвижения: по позициям, по трафику, SMM, SERM, контекстную рекламу.
      </p>
    </li>
  </ul>
</div>

<!-- Advances block banner -->
<div class="banner-caption banner-store-advances">
  <p>Продавать через интернет удобно и<br>выгодно. Почему?</p>
</div>
<!-- Advances block -->
<div class="container container-store-advances">
  
</div>

<!-- Workflow block -->
<div class="container container-store-workflow">
  
</div>

<!-- Price block banner -->
<div class="banner-caption banner-store-price">
  <p>Стоимость интернет-магазина</p>
</div>
<!-- Price block -->
<div class="container container-store-price">
  
</div>

<!-- Last projects block -->
<div class="container container-store-last-projects">
  
</div>