<!-- Intro block banner -->
<div class="banner-caption banner-store-intro">
  <p>Скоростные интернет-магазины<br>нового поколения</p>
</div>
<!-- Intro block  -->
<div class="container container-store-intro">
  <p class="block-think">Мы делаем интернет-магазины скоростными во всех смыслах: разработка в короткие сроки и быстрая работа самого магазина</p>
  <p>
    Интернет-магазин – это крупный и мощный web-сервис с нагруженным функционалом: каталог, распределение продукции в логистической системе, фильтры поиска товара, личный кабинет, система регистрации и оплаты, интеграция с бухгалтерией, инструменты рекламы и маркетинга – и это только основа.<br>
    Мы советуем делать интернет-магазин <span class="text-highlight">масштабируемым</span>, ведь со временем в него будет добавляться многое: от карточек товаров до элементов юзабилити. При этом он должен быть красивым, удобным, понятным и с быстрой загрузкой страниц.<br>
    Со всеми этими задачами <span class="text-bg-highlight">OnlineLab справляется точно и быстро благодаря опыту, слаженной работе команды и мощным современным технологиям программирования.</span>
  </p>
  <p class="h2-like">Факторы качества</p>
</div>

<!-- Advances block banner -->
<div class="banner-caption banner-store-advances">
  <p>Продавать через интернет удобно и<br>выгодно. Почему?</p>
</div>
<!-- Advances block -->
<div class="container container-store-advances">
  
</div>

<!-- Workflow block -->
<div class="container container-store-workflow">
  
</div>

<!-- Price block banner -->
<div class="banner-caption banner-store-price">
  <p>Стоимость интернет-магазина</p>
</div>
<!-- Price block -->
<div class="container container-store-price">
  
</div>

<!-- Last projects block -->
<div class="container container-store-last-projects">
  
</div>