<div class="container container-contact p-t-30">
  <p class="h1-like column span-12 m-t-10 m-b-20">Контакты</p>

  <div class="container-contact-map column span-12 m-t-30">
    <img src="../../assets/images/contact/map.png" alt="">

    <!-- Marks -->
    <div class="map-object" ng-repeat="mark in marks" ng-style="{left: mark.pos.x, top: mark.pos.y}" ng-class="{'map-object-selected': selectedMark == mark}"
         ng-click="selectMark(mark)">
      <img src="../../assets/images/contact/ico-home.png" alt="">
    </div>
  </div>
</div>