.container-contact{
  overflow: hidden;
  .h1-like{
    color: @green-color !important;
    font: normal 34px/20px ProximaNovaLight !important;
  }

  .container-contact-map{
    position: relative;

    .map-object{
      background: url(../../assets/images/contact/mark.png) 0 0 no-repeat;
      cursor: pointer;
      height: 66px;
      margin: -55px 0 0 -20px;
      position: absolute;
      width: 40px;

      img{
        margin: 6px 0 0 9px;
      }
    }

    .map-object-selected{
      background: url(../../assets/images/contact/mark-selected.png) 0 0 no-repeat;
      z-index: 10;
    }
  }
}