    <form class="main-feedback-form column span-12 last m-t-30" novalidate name="formFeedback">
      <input type="text" placeholder="Ваше имя*" class="main-feedback-form-name column span-3" ng-model="newOrderData.name" required name="name">
      <input type="text" placeholder="Телефон*" class="main-feedback-form-phone column span-3" ng-model="newOrderData.phone" ui-mask="+7(999)999-99-99" ui-mask-placeholder required name="phone">
      <input type="text" placeholder="Электронная почта*" class="main-feedback-form-email column span-3" ng-model="newOrderData.email" required name="email">
      <input type="submit" value="Отправить" class="main-feedback-form-btn column span-3 last" ng-click="order()">
      <p class="main-feedback-form-msg column span-12 last m-t-20" ng-bind="formMessage"></p>
    </form>