/* Breadcrumbs */
.breadcrumbs-wrapper{
  background-color:#f5f5f5;
  border-top:solid 1px #fff;
}
.breadcrumbs-container{
  .breadcrumb-content {
    padding: 0px 0px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
    font-size:16px;
    font-family: ProximaNovaBold;
    margin: 0;
  }
  .breadcrumb-content > li {
    display: inline-block;
  }
  .breadcrumb-content a{
    color: #9b9b9b;
    display: block;
    padding-bottom: 15px;
    padding-top: 15px;
    text-decoration:none;
  }
  .breadcrumb-content > .active {
    color: #2eafa0;
  }
  .breadcrumb-content > li + li:before {
    content: ">";
    padding: 0 5px;
    color: #9b9b9b;
  }
}