<!-- Main banner -->
<div class="main-banner-wrapper">
  <div class="container main-banner-container">
    <p class="main-banner-caption">Мы - молодая эффективная команда разработчиков</p>
    <p class="main-banner-text">Высоконагруженные проекты, объединяющие в себе сайт, мобильное приложение, гаджет, связанные с вашим продуктом, а также качественное продвижение всего этого в сети - это к нам</p>
    
    <div class="main-banner-request-button-border">
      <a class="main-banner-request-button" onclick="scrollToForm()">Оставить заявку</a>
    </div>
  </div>
</div>

<!-- Services -->
<div class="main-services-wrapper">
  <div class="container main-services-container p-t-40 p-b-20" >
    
    <div class="main-services-block column span-3 m-t-30 m-b-20">
      <a ui-sref="development">
        <div class="service_image">
          <img src = "/assets/images/main/service1.png" >
        </div>
        <div class="main-services-block-caption">Веб-разработка</div>
        <div class="main-services-block-text">
          Любые онлайн-сервисы, интернет магазины, приложения для социальных сетей и корпоративные сайты. С мощной разноплановой интеграцией (с десятками разных систем: от платёжных до корпоративного ПО).
        </div>
      </a>
    </div>
    <div class="main-services-block column span-3 m-t-30 m-b-20">
      <a ui-sref="mobile">
        <div class="service_image">
          <img src = "/assets/images/main/service2.png" >
        </div>
        <div class="main-services-block-caption">Мобильные приложения</div>
        <div class="main-services-block-text">
          От мобильного клиента интернет магазина до приложений дополненной реальности на любой платформе: iOS, Android, Windows. Пишем вдумчиво и отвечаем за высокое качество кода. Всё летает и всё красиво!
        </div>
      </a>
    </div>
    <div class="main-services-block column span-3 m-t-30 m-b-20">
      <a ui-sref="marketing">
        <div class="service_image">
          <img src = "/assets/images/main/service3.png" >
        </div>
        <div class="main-services-block-caption">Интернет маркетинг</div>
        <div class="main-services-block-text">
          Наша команда может выстроить качественную, результативную рекламную стратегию в сети.  
          Продвижение наших продуктов – их составная часть. Она обязательна и рекомендуем доверить её именно создателям.
        </div>
      </a>
    </div>
    <div class="main-services-block column span-3 last m-t-30 m-b-20">
      <a ui-sref="electronics">
        <div class="service_image">
          <img src = "/assets/images/main/service4.png" >
        </div>
        <div class="main-services-block-caption">Электроника</div>
        <div class="main-services-block-text">
          Давайте посмотрим в будущее: гаджеты буквально на каждом шагу. Представьте ваш сервис, который вы оказываете через специальное устройство. Или систему “умный дом” с управлением с помощью жестов.
        </div>  
      </a>
    </div>

  </div>
</div>

<!-- Description -->
<div class="main-description-wrapper">
  <div class="container main-description-container p-t-30 p-b-40">
  
    <div class="main-description-block column span-6 m-t-30 m-b-50 p-t-20 p-b-20">
      <div class="main-description-caption m-b-20">Вы на верном пути</div>
      <div class="main-description-text m-t-30 m-b-30">
        Давайте сразу объясним вам простую вещь.<br>
        В чём гениальность и секрет успеха таких монстров как, например, Google и Apple? Они разрабатывают, внедряют и продвигают оригинальные интернет-сервисы, продукты и собственные девайсы, то есть полностью контролируют весь процесс появления и использования цифрового продукта на рынке, включая технику, на которой этот продукт работает. И трудятся 24 часа в сутки, работая на широкий сегмент рынка, развивая международные отношения. <br>
        Мы действуем по похожему принципу: команда из разработчиков, дизайнеров, инженеров и интернет-маркетологов проектирует, создаёт, тестирует, внедряет и продвигает.<br> 
        Имеем представительства в Нью-Йорке, Лондоне и Таллине и работаем в 2 смены в силу разницы часовых поясов. Это даёт нам ощутимое преимущество перед многими digital-агентствами или группами разработчиков.
      </div>
    </div>
  
    <div class="main-description-block column span-6 last m-t-30 m-b-50 p-t-20 p-b-20">
        <div class="main-description-caption m-b-30">Мы можем</div>
        <ul class="main-description-list">
          <li class="p-t-10 p-b-20">
            <p class="m-t-20">Создать работающий многофункциональный веб  сервис и в любой момент его дополнить и расширить.</p>
          </li>
          <li class="p-t-10 p-b-20">
            <p class="m-t-20">Сделать красивое и удобное мобильное приложение к нему.</p>
          </li>
          <li class="p-t-10 p-b-20">
            <p class="m-t-20">Сделать электронное устройство с программой в нём,  которое будет выполнять определённые функции.</p>
          </li>
          <li class="p-t-10 p-b-20">
            <p class="m-t-30">Настроить качественную рекламную кампанию в сети.</p>
          </li>
        </ul>
        <div class="main-description-question m-t-40 m-b-40">
          Обычные интернет-агенства могут также?
        </div>
    </div>
  </div>
</div>

<!-- Portfolio -->
<div class="main-portfolio-wrapper">
  <div class="container main-portfolio-container p-t-30 p-b-30">
    <p class="h2-like column span-12 last">Наше портфолио</p>
    <div class="main-portfolio-slider-container column span-12 last m-t-30 m-b-40">
    
      <section class="cd-hero">
        <!-- Content -->
        <ul class="cd-hero-slider">
          <li ng-repeat="item in portfolioList" ng-class="{'selected': item == portfolioList[0]}">
            <div class="cd-full-width">
              <p class="main-portfolio-slider-title" ng-bind="item.name"></p>
              <p class="main-portfolio-slider-desc" ng-bind-html="item.description_short"></p>
              <div class="main-portfolio-slider-button-border">
                <a ui-sref="project-details({projectId: item.id})" class="main-portfolio-slider-button">Узнать больше</a>
              </div>
            </div>
          </li>
        </ul>

        <!-- Navigation -->
        <div class="cd-slider-nav">
          <nav>
            <!-- <span class="cd-marker item-1"></span> -->
            
            <ul>
              <li ng-repeat="(itemIndex, item) in portfolioList" 
                  ng-class="{'cd-slider-selected-item': currentPortfolioItem == item, 'selected': item == portfolioList[0]}">
                <a ng-click="gotoProject(itemIndex, item)" ng-style="{'background-image': 'url(' + item.logo_image + ')'}"></a>
              </li>
            </ul>
          </nav> 
        </div>

      </section>
    </div>
  </div>
</div>

<!-- Products -->
<div class="main-products-wrapper">
  <div class="container main-products-container p-t-30 p-b-40">
    <p class="h2-like column span-12 last">Наши продукты</p>
    
    <div class="main-products-slide-btn-left-container column span-1">&nbsp;</div>
    <div class="main-products-corousel column span-10 m-t-20 m-b-50">
      
      <div class="main-products-slide main-products-slide-thumber">
        <div class="main-products-slide-overlay">
          <div class="main-products-slide-title">Изменить размер картинки<br> <span class="main-products-slide-title-large">в Thumber</span> <span class="main-products-slide-title-medium">- легко!</span></div>
          <a href="//thumber.io" class="main-products-slide-ex-link" target="_blank"></a>
        </div>
      </div>
      <div class="main-products-slide-container" style = "background:url(/assets/images/main/corousel-non.png) no-repeat"></div>
      <div class="main-products-slide-container" style = "background:url(/assets/images/main/corousel-non.png) no-repeat"></div>
      
    </div>
    <div class="main-products-slide-btn-right-container column span-1 last">&nbsp;</div>
    
  </div>
</div>

<!-- Feedback form -->
<a id="form-anchor" name="form" class="anchor"></a>
<div class="main-feedback-wrapper">
  <div class="container main-feedback-container p-t-30 p-b-40">
    <p class="main-feedback-caption column span-12 last m-t-20 m-b-10">Нужен качественный проект?</p>
    <p class="column span-12 last m-t-10 m-b-10">Получите нашу консультацию бесплатно</p>
    
    <feedback-form></feedback-form>
    
<!--    <form class="main-feedback-form column span-12 last m-t-30" novalidate name="formFeedback">
      <input type="text" placeholder="Ваше имя*" class="main-feedback-form-name column span-3" ng-model="newOrderData.name" required name="name">
      <input type="text" placeholder="Телефон*" class="main-feedback-form-phone column span-3" ng-model="newOrderData.phone" ui-mask="+7(999)999-99-99" ui-mask-placeholder required name="phone">
      <input type="text" placeholder="Электронная почта*" class="main-feedback-form-email column span-3" ng-model="newOrderData.email" required name="email">
      <input type="submit" value="Отправить" class="main-feedback-form-btn column span-3 last" ng-click="order()">
      <p class="main-feedback-form-msg column span-12 last m-t-20" ng-bind="formMessage"></p>
    </form> -->
  </div>
</div>

<!-- Blog-command block -->
<div class="container main-blog-team-container p-t-30 p-b-30">
  <!-- Blog -->
  <div class="main-blog column span-6">
    <div class="caption column span-6 m-t-40 m-b-20">Наш блог</div>
    <div class="main-blog-article column span-6 m-t-20 m-b-20">
      <div class="main-blog-article-image column span-2"><img src="/assets/images/main/blog-preview1.jpg"/></div>
      <p class="main-blog-article-name">
        SMM как эффективный инструмент продвижения в интернете
      </p>
      <p class="main-blog-article-description">
        Расшифровка аббревиатуры SMM – социальный медиа маркетинг. Это комплекс процедур по развитию сообществ вашей компании в социальных сетях.
      </p>
      <p class="main-blog-article-date">
        1 октября 2015 года
      </p>
    </div>
    
    <div class="main-blog-article column span-6 m-t-20 m-b-20">
      <div class="main-blog-article-image column span-2"><img src="/assets/images/main/blog-preview2.jpg"/></div>
      <p class="main-blog-article-name">
        Преимущества технологии RUBY ON RAILS
      </p>
      <p class="main-blog-article-description">
        Датский программист Давид Ханссон является разработчиком технологии Ruby on Rails.
      </p>
      <p class="main-blog-article-date">
        5 октября 2015 года
      </p>
    </div>
    
    <div class="main-blog-article column span-6 m-t-20 m-b-20">
      <div class="main-blog-article-image column span-2"><img src="/assets/images/main/blog-preview3.jpg"/></div>
      <p class="main-blog-article-name">
        Что такое AngularJS?
      </p>
      <p class="main-blog-article-description">
        AngularJS – это JavaScript-фреймворк, сконструированный для разработки одностраничных веб-приложений. Код и библиотека этого инструмента открытые.
      </p>
      <p class="main-blog-article-date">
        10 октября 2015 года
      </p>
    </div>
    
    <!-- <a class="main-blog-view-all-btn column">Все записи</a> -->
  </div>
  
  <!-- Command -->
  <div class="main-team column span-6 last">
    <div class="caption column span-6 last m-t-40 m-b-20">Наша команда</div>
    <team-gallery class="column span-6 last m-t-20 m-b-40"></team-gallery>
  </div>

</div>

<script>
  //Easing functions: borrowed from jQuery easing plugin
  //http://gsgd.co.uk/sandbox/jquery.easing.php
  $.easing.elasout = function(x, t, b, c, d) {
      var s=1.70158;var p=0;var a=c;
      if (t==0) return b;  if ((t/=d)==1) return b+c;  if (!p) p=d*.3;
      if (a < Math.abs(c)) { a=c; var s=p/4; }
      else var s = p/(2*Math.PI) * Math.asin (c/a);
      return a*Math.pow(2,-10*t) * Math.sin( (t*d-s)*(2*Math.PI)/p ) + c + b;
  };
  $.easing.easeInOutSine = function (x, t, b, c, d) {
    return -c/2 * (Math.cos(Math.PI*t/d) - 1) + b;
  };
  
  //Scrolling to form
  var scrollToForm = function(){
    $(window).scrollTo($('#form-anchor'),{
      duration: 800,
      easing: 'easeInOutSine',
      onAfter(){
        $(".main-feedback-form-name").focus();
      }
    });
  };
</script>


<script>
jQuery(document).ready(function($){
  var slidesWrapper = $('.cd-hero-slider');

  //check if a .cd-hero-slider exists in the DOM 
  if ( slidesWrapper.length > 0 ) {
    var primaryNav = $('.cd-primary-nav'),
      sliderNav = $('.cd-slider-nav'),
      navigationMarker = $('.cd-marker'),
      slidesNumber = slidesWrapper.children('li').length,
      visibleSlidePosition = 0,
      autoPlayId = false,
      autoPlayDelay = false;

    //upload videos (if not on mobile devices)
    uploadVideo(slidesWrapper);

    //autoplay slider
    setAutoplay(slidesWrapper, slidesNumber, autoPlayDelay);

    //on mobile - open/close primary navigation clicking/tapping the menu icon
    primaryNav.on('click', function(event){
      if($(event.target).is('.cd-primary-nav')) $(this).children('ul').toggleClass('is-visible');
    });
    
    //change visible slide
    sliderNav.on('click', 'li', function(event){
      event.preventDefault();
      var selectedItem = $(this);
      if(!selectedItem.hasClass('selected')) {
        // if it's not already selected
        var selectedPosition = selectedItem.index(),
          activePosition = slidesWrapper.find('li.selected').index();
        
        if( activePosition < selectedPosition) {
          nextSlide(slidesWrapper.find('.selected'), slidesWrapper, sliderNav, selectedPosition);
        } else {
          prevSlide(slidesWrapper.find('.selected'), slidesWrapper, sliderNav, selectedPosition);
        }

        //this is used for the autoplay
        visibleSlidePosition = selectedPosition;

        updateSliderNavigation(sliderNav, selectedPosition);
        updateNavigationMarker(navigationMarker, selectedPosition+1);
        //reset autoplay
        setAutoplay(slidesWrapper, slidesNumber, autoPlayDelay);
      }
    });
  }

  function nextSlide(visibleSlide, container, pagination, n){
    visibleSlide.removeClass('selected from-left from-right').addClass('is-moving').one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend', function(){
      visibleSlide.removeClass('is-moving');
    });

    container.children('li').eq(n).addClass('selected from-right').prevAll().addClass('move-left');
    checkVideo(visibleSlide, container, n);
  }

  function prevSlide(visibleSlide, container, pagination, n){
    visibleSlide.removeClass('selected from-left from-right').addClass('is-moving').one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend', function(){
      visibleSlide.removeClass('is-moving');
    });

    container.children('li').eq(n).addClass('selected from-left').removeClass('move-left').nextAll().removeClass('move-left');
    checkVideo(visibleSlide, container, n);
  }

  function updateSliderNavigation(pagination, n) {
    var navigationDot = pagination.find('.selected');
    navigationDot.removeClass('selected');
    pagination.find('li').eq(n).addClass('selected');
  }

  function setAutoplay(wrapper, length, delay) {
    if(wrapper.hasClass('autoplay')) {
      clearInterval(autoPlayId);
      autoPlayId = window.setInterval(function(){autoplaySlider(length)}, delay);
    }
  }

  function autoplaySlider(length) {
    if( visibleSlidePosition < length - 1) {
      nextSlide(slidesWrapper.find('.selected'), slidesWrapper, sliderNav, visibleSlidePosition + 1);
      visibleSlidePosition +=1;
    } else {
      prevSlide(slidesWrapper.find('.selected'), slidesWrapper, sliderNav, 0);
      visibleSlidePosition = 0;
    }
    updateNavigationMarker(navigationMarker, visibleSlidePosition+1);
    updateSliderNavigation(sliderNav, visibleSlidePosition);
  }

  function uploadVideo(container) {
    container.find('.cd-bg-video-wrapper').each(function(){
      var videoWrapper = $(this);
      if( videoWrapper.is(':visible') ) {
        // if visible - we are not on a mobile device 
        var videoUrl = videoWrapper.data('video'),
          video = $('<video loop><source src="'+videoUrl+'.mp4" type="video/mp4" /><source src="'+videoUrl+'.webm" type="video/webm" /></video>');
        video.appendTo(videoWrapper);
        // play video if first slide
        if(videoWrapper.parent('.cd-bg-video.selected').length > 0) video.get(0).play();
      }
    });
  }

  function checkVideo(hiddenSlide, container, n) {
    //check if a video outside the viewport is playing - if yes, pause it
    var hiddenVideo = hiddenSlide.find('video');
    if( hiddenVideo.length > 0 ) hiddenVideo.get(0).pause();

    //check if the select slide contains a video element - if yes, play the video
    var visibleVideo = container.children('li').eq(n).find('video');
    if( visibleVideo.length > 0 ) visibleVideo.get(0).play();
  }

  function updateNavigationMarker(marker, n) {
    marker.removeClassPrefix('item').addClass('item-'+n);
    temp_width = (n-1)*marker.removeClassPrefix('item').innerWidth()+14*(n-1);
    
    marker.removeClassPrefix('item').css( "-webkit-transform", "translateX("+temp_width+"px)");
  }

  $.fn.removeClassPrefix = function(prefix) {
    //remove all classes starting with 'prefix'
      this.each(function(i, el) {
          var classes = el.className.split(" ").filter(function(c) {
              return c.lastIndexOf(prefix, 0) !== 0;
          });
          el.className = $.trim(classes.join(" "));
      });
      return this;
  };
});
</script>