/* Banner */
.banner-resources{
  background: url(/assets/images/resources/banner-resources.jpg) no-repeat;
}

/* Container */
.container-resources{
  p{
    .main-font;
    margin: 0;
  }
  
  .h2-like{
    .bold;
    color: @green-color;
    font-size: 30px;
    line-height: 20px;
    text-align: center;
  }
  
  .resources-block-think{
    background: #eaf6f4;
    border: 1px solid #eaf6f4;
  }
  
  /* We do list */
  ul.resources-we-do-list{
    list-style: none;
    margin: 0;
    padding: 0;
    
    li{
      background: #f5f5f5;
      border: 1px solid #e4e4e4;
      color: #000;
      font-size: 16px;
      line-height: 30px;
      padding: 4px;
      text-align: center;
    }
  }
  
  /* Advances list */
  ul.resources-advances-list{
    list-style: none;
    margin: 0;
    padding: 0;
    
    .resources-advances-list-item-marker{
      
    }
    .resources-advances-list-item-title{
      .bold;
      font-size: 20px;
      line-height: 20px;
    }
    .resources-advances-list-item-desc{
      line-height: 30px;
    }
  }
}