<!-- Resources banner -->
<div class="banner-caption banner-resources">
  <p>Интернет-ресурсы любого масштаба<br>и сложности</p>
</div>
<!-- Resources block -->
<div class="container container-resources">
  <p class="block-think resources-block-think">
    Мы делаем онлайн-сервисы, которые «летают», не смотря на нагруженность
  </p>
  <p>
    <span class="bold">Большие интернет-сервисы и web-ресурсы</span> – это сложные системы, все части которых имеют свой функционал и решают разные задачи. Нас вдохновляет работать над такими крупными проектами, но больше всего нам нравится делать их скоростными.<br>
    Вы можете прийти к нам окрыленный идеей,  мы с радостью изучим и поможем  воплотить ее в жизнь. Полученный результат вы  сможете увидеть в короткие сроки.
  </p>
  <p class="h2-like">
    Мы занимаемся разработкой:
  </p>
</div>
