<!-- Resources banner -->
<div class="banner-caption banner-resources">
  <p>Интернет-ресурсы любого масштаба<br>и сложности</p>
</div>
<!-- Resources block -->
<div class="container container-resources p-t-30 p-b-30">
  <p class="block-think resources-block-think column span-12 m-t-20 m-b-20">
    Мы делаем онлайн-сервисы, которые «летают», не смотря на нагруженность
  </p>
  <p class="column span-12 m-t-20">
    <span class="bold">Большие интернет-сервисы и web-ресурсы</span> – это сложные системы, все части которых имеют свой функционал и решают разные задачи. Нас вдохновляет работать над такими крупными проектами, но больше всего нам нравится делать их скоростными.<br>
    Вы можете прийти к нам окрыленный идеей,  мы с радостью изучим и поможем  воплотить ее в жизнь. Полученный результат вы  сможете увидеть в короткие сроки.
  </p>
  <p class="h2-like column span-12">
    Мы занимаемся разработкой:
  </p>
  
  <!-- We do list -->
  <ul class="resources-we-do-list column span-12 m-t-10 m-b-30">
    <li class="column span-3">Корпоративных порталов</li>
    <li class="column span-3">Социальных сетей</li>
    <li class="column span-3">Web-ресурсов</li>
    <li class="column span-3 last">Интернет-сервисов / услуг</li>
  </ul>
  
  <!-- Advances list -->
  <ul class="resources-advances-list column span-12">
    <li class="column span-12 m-t-20 m-b-25">
      <div class="resources-advances-list-item-marker column span-2">
        <img src="/assets/images/resources/resources-list1.png" alt="">
      </div>
      <p class="resources-advances-list-item-title m-b-10">
        Комфортное юзабилити
      </p>
      <p class="resources-advances-list-item-desc">
        Главное в любом сервисе – это <span class="text-highlight">удобство</span> и <span class="text-highlight">полезность</span>. Интернет-сервисы и web-ресурсы отличаются от оффлайновых сервисов тем, что их интерфейс можно создавать и дополнять с помощью анализа интересов огромной аудитории интернет-сферы. Мы всегда держим руку на пульсе, так как вкусы у современного потребителя быстро меняются. Плюс – внимательно анализируем необходимую целевую аудиторию и учитываем особенности проекта. <span class="text-bg-highlight">Это даёт нам возможность уверенно создавать комфортные интерфейсы</span>, через которые ваши пользователи будут контактировать с сервисом.
      </p>
    </li>
    <li class="column span-12 m-t-25 m-b-25">
      <div class="resources-advances-list-item-marker column span-2">
        <img src="/assets/images/resources/resources-list2.png" alt="">
      </div>
      <p class="resources-advances-list-item-title m-t-30 m-b-20">
        Современный дизайн
      </p>
      <p class="resources-advances-list-item-desc">
        Современный мир меняется - становится технологичным и лаконичным. Теперь не только внешний вид определяет тебя, но и то, что ты представляешь из себя в Интернете. Создай вместе с нами <span class="text-highlight">актуальный дизайн своего Интернет-ресурса</span>.  Где дизайн и юзабилити будут сочетаться гармонично, не отвлекая внимание от функциональности проекта.
      </p>
    </li>
    <li class="column span-12 m-t-25 m-b-25">
      <div class="resources-advances-list-item-marker column span-2">
        <img src="/assets/images/resources/resources-list3.png" alt="">
      </div>
      <p class="resources-advances-list-item-title m-t-40 m-b-20">
        Грамотное проектирование
      </p>
      <p class="resources-advances-list-item-desc">
        Созданием таких порталов занимается целая команда разработчиков, где каждый  специалист в своей области. Мы используем передовые технологии в проектировании, поэтому на первый взгляд сложный процесс не занимает у нас массу времени.
      </p>
    </li>
    <li class="column span-12 m-t-25 m-b-20">
      <div class="resources-advances-list-item-marker column span-2">
        <img src="/assets/images/resources/resources-list4.png" alt="">
      </div>
      <p class="resources-advances-list-item-title m-t-30 m-b-20">
        Быстрое программирование
      </p>
      <p class="resources-advances-list-item-desc">
        Мы используем методику <span class="text-highlight">гибкого программирования Scrum</span>, которая позволяет нам добиваться максимум эффекта при минимум времени. На протяжение всего срока создания веб-ресурса вы будете видеть стадии разработки и сможете высказывать пожелания по корректировке в любое время.
      </p>
    </li>
  </ul>
</div>

<!-- Last projects block -->
<div class="container container-resources-last-projects p-t-10 p-b-30">
  <p class="h2-like column span-12 m-t-30">Последние разработанные интернет-ресурсы</p>
  <div class="resources-proj-preview column span-4 m-t-20 m-b-20" ng-repeat="item in lastProjectsList | limitTo: lastProjectsDisplayCount">
    <a ui-sref="project-details({projectId: item.id})">
      <div class="resources-proj-preview-image m-b-20" style="background-image: url({{item.card_image}});">
        <!-- <img ng-src="{{item.card_image}}" alt="" class="m-b-20"> -->
      </div>
      <p class="resources-proj-preview-name" ng-bind="item.name"></p>
    </a>
  </div>

  <!-- View all -->
  <div class="column span-12 m-t-20 m-b-30">
    <a class="view-all-resources-projects-btn" ng-click="showMoreProjects()" ng-show="lastProjectsList.length > 3" ng-bind="lastProjectsDisplayCount >= lastProjectsList.length ? 'Скрыть' : 'Посмотреть еще'"></a>
  </div>
</div>