/* Banner */
.banner-resources{
  background: url(/assets/images/resources/banner-resources.jpg) no-repeat;
}

/* Container */
.container-resources{
  p{
    .main-font;
    margin: 0;
  }
  
  .h2-like{
    .bold;
    color: @green-color;
    font-size: 30px;
    line-height: 20px;
    text-align: center;
  }
}