<!-- Banner -->
<div class="banner-caption banner-electronics">
  <p>Профессиональная разработка<br>качественной электроники</p>
</div>

<!-- First block -->
<div class="container container-electronics-first">
  <p>Будущее – за гаджетами. Создайте свой электронный прибор с нашей помощью!</p>
  <p>Электроника так плотно вошла в нашу жизнь, что мы уже не представляем свой быт и профессиональную деятельность без неё. Гаджетов становится всё больше: они удобны, полезны, красивы. Если вы всегда мечтали создать свой современный электронный прибор, то мы можем осуществить эту мечту. Наши основные принципы в разработке и производстве электроники – качество и профессионализм. С нашими разработками вам никогда не придётся краснеть перед покупателями.</p>

  <p>Контрактная разработка и производство электронной техники</p>
  <p>Мы работаем с производителями электроники на контрактной основе. Это означает, что в контракте всегда подробно описан весь спектр услуг от предприятия, а не только производство устройства как таковое. И прежде всего это – постоянная техническая поддержка любых электронных приборов от разработчика проекта:</p>
  <ul>
    <li>Обслуживание клиентов в течение всего времени продажи выпускаемой электроники</li>
    <li>Гарантийное обслуживание</li>
    <li>Послегарантийное обслуживание</li>
    <li>Консультации по эксплуатации</li>
  </ul>
</div>

<!-- Second block -->
<div class="container container-electronics-second">
  <p>Производство на российских предприятиях</p>
  <p>
    Мы сотрудничаем только с лучшими российскими предприятиями электронной промышленности – это гарантирует неизменно высокое качество нашей электроники.<br>
    Если у вас уже есть наброски или целый проект – звоните, и мы проконсультируем вас на предмет его реализации. Если у вас только идея – звоните тем более!  Мы любим создавать новые девайсы и вместе с вами разработаем проект максимально грамотно, чтобы производство шло быстрее, а результат был качественней.
  </p>
</div>

<!-- Last projects -->
<div class="container container-electronics-last">
  <p class="h2-like column span-12 m-t-30 m-b-10">Последняя разработаная электроника</p>
  <div class="column span-4 m-t-20 m-b-20 electronics-proj-preview">
    <a href="#">
      <img src="../../assets/images/mobile/last1.jpg" alt="" class="m-b-20">
      <p>Калькулятор</p>
    </a>
  </div>
  <div class="column span-4 m-t-20 m-b-20 electronics-proj-preview">
    <a href="#">
      <img src="../../assets/images/mobile/last2.jpg" alt="" class="m-b-20">
      <p>Телефон</p>
    </a>
  </div>
  <div class="column span-4 last m-t-20 m-b-20 electronics-proj-preview">
    <a href="#">
      <img src="../../assets/images/mobile/last2.jpg" alt="" class="m-b-20">
      <p>Мобильный телефон</p>
    </a>
  </div>

  <!-- View all -->
  <div class="column span-12 m-t-20 m-b-20">
    <a href="#" class="view-all-electronics-projects-btn">Посмотреть все</a>
  </div>
</div>