.banner-electronics{
  background: url(/assets/images/electronics/banner-electronics.jpg) no-repeat;
}

.container-electronics-first,
.container-electronics-second{
  p{
    .main-font;
    margin: 0;
  }

  .h2-like{
    .bold;
    color: @green-color;
    font-size: 30px;
    line-height: 20px;
    text-align: center;
  }
}

/* First block */
.container-electronics-first{
  .electronics-list{
    .main-font;
    list-style: none;
    padding-left: 0;

    li{
      .bold;
      .p-t-10;
      .p-b-10;
      .m-b-30;
      background: url(/assets/images/electronics/list-marker.png) no-repeat;
      font-size: 20px;
      line-height: 30px;
      padding-left: 70px;
    }
  }
}
/* Second block */
.container-electronics-second-wrapper{
  background: #f8f8f8;
}
