<div class="header-wrapper">
			
	<div class="header-main">
		<div class="logo">
			<a href="/">OnlineLab</a>
		</div>

		<div class="menu-wrapper"> 
			<div class = "language-version " >
				<a href="#" class="language">
				English version
				</a>
			</div>

			<ul class = "top-menu">
				<li>
					<a class = "item"  href="/development">Делаем</a>
					<ul>
						<li><a class = "item"  href="/development">Web разработка</a></li>
						<li><a class = "item"  href="/mobile">Мобильные приложения</a></li>
						<li><a class = "item"  href="#">Интернет маркетинг</a></li>
						<li><a class = "item"  href="#">Электроника</a></li>
					</ul>
				</li>

				<li>
					<a class = "item"  href="/portfolio">Хвалимся</a>
				</li>

				<li>
					<a class = "item"  href="/team">Знакомимся</a>
				</li>

				<li>
					<a class = "item"  href="/blog">Пишем</a>
				</li>

				<li>
					<a class = "item"  href="/contact">Контактируем</a>
				</li>
			</ul>

		</div>
		
		<div class="phones-wrapper">
			<div class = "city-menu_block">
				<div class = "city-menu-wrap"> 

					<ul class="city-items">
						<li class="city-item {{item.active}}" ng-class="{'active': current_city == city.id}" 
								ng-repeat="city in city_items">
							<a class="item" ng-click="changeCity(city)" href="#">{{city.city}}</a>
						</li>
					</ul>
				</div>
				
				<div class = "phone-number" >
					{{city_phone}}
				</div>

				<a href="#" class="presentation">Скачать презентацию</a>
			</div>	
		</div>
		
	</div>

</div>

<div ng-class="{'under-header-project': state.current.name == 'project',
								'under-header-blogpost': state.current.name == 'blogpost',
								'under-header-contact': state.current.name == 'contact'}" 
		 ng-show="state.current.name == 'project' || 
		 					state.current.name == 'blogpost' || 
		 					state.current.name == 'contact'">
		 <div class="under-header-content">Заголовок записи</div>
 </div>

<div ncy-breadcrumb ng-show="state.current.name != 'main'"></div>