<div class="header-wrapper">
			
	<div class="container header-main">
		<div class="logo">
			<a ui-sref="main">
				<img src="/assets/images/header/logo-onlinelab.png" alt="">
			</a>
		</div>

		<div class="menu-wrapper"> 
			<!-- Language version -->
			<div class = "language-version " >
				<a href="#" class="language">
				English version
				</a>
			</div>

			<!-- Top menu -->
			<ul class="top-menu">
				<li class="top-menu-sub-item">
					<a class="item">Делаем</a>
					<ul class="top-menu-sub-development">
						<li class="top-menu-sub-development-sub-item">
							<a class="item" ui-sref="development">Web-разработка</a>
							<ul class="top-menu-sub-development-sub-web">
								<li>
									<a class="item" ui-sref="store">Интернет-магазины</a>
								</li>
								<li>
									<a class="item" ui-sref="resources">Интернет-ресурсы</a>
								</li>
							</ul>
						</li>
						<li class="top-menu-sub-marketing-sub-item">
							<a class="item" ui-sref="marketing">Интернет-маркетинг</a>
							<ul class="top-menu-sub-marketing-sub-smm">
							<li>
									<a class="item" ui-sref="position">SEO-позиции</a>
								</li>
								<li>
									<a class="item" ui-sref="traffic">SEO-трафик</a>
								</li>
								<li>
									<a class="item" ui-sref="serm">SERM</a>
								</li>
								<li>
									<a class="item" ui-sref="smm">SMM</a>
								</li>
								<li>
									<a class="item" ui-sref="advertising">Контекстная реклама</a>
								</li>
							</ul>
						</li>
						<li>
							<a class="item" ui-sref="mobile">Мобильные приложения</a>
						</li>
						<li>
							<a class="item" ui-sref="electronics">Электроника</a>
						</li>
					</ul>
				</li>
				<li>
					<a class="item" ui-sref="projects">Хвалимся</a>
				</li>
				<li>
					<a class="item" ui-sref="team">Знакомимся</a>
				</li>
				<!-- <li>
					<a class="item" ui-sref="blog">Пишем</a>
				</li> -->
				<li>
					<a class="item" ui-sref="contact">Контактируем</a>
				</li>
			</ul>
		</div>

		<!-- Phones -->
		<div class="phones-wrapper">
			<div class = "city-menu_block">
				<div class = "city-menu-wrap"> 

					<ul class="city-items">
						<li class="city-item" ng-repeat="city in cities" ng-class="{'active': currentCity == city}">
							<a class="item" ng-click="changeCity(city)">{{city.name}}</a>
						</li>
					</ul>
				</div>
								
				<div class="header-phone-block">
					<a class="header-order-btn" ng-controller="InteractionCtrl" ng-click="showPopupFeedbackForm()">Заказать звонок</a>
					<p class="header-phone-number">{{city_phone}}</p>
				</div>

				<a href="#" class="presentation">Скачать презентацию</a>
			</div>	
		</div>		
	</div>

</div>

<!-- Header image for project -->
<div class="under-header-project" ng-show="state.current.name == 'project-details' && state.project_image">
	<img ng-src="{{state.project_image}}" ng-show="state.project_image" alt="">
</div>
<!-- Header image for contact page -->
<div class="under-header-contact" ng-show="state.current.name == 'contact'">
</div>
<!-- Header image -->
<div ng-class="{'under-header-blogpost': state.current.name == 'blogpost',
								'under-header-vacancies': state.current.name == 'vacancies'}" 
		 ng-show="state.current.name == 'blogpost' || 
		 					state.current.name == 'vacancies'">
		 <div class="under-header-content">Заголовок записи</div>
 </div>

<!-- Breadcrumb -->
<div ncy-breadcrumb ng-show="state.current.name != 'main'"></div>



<script>
  //Show popup feedback form
  function showPopupFeedbackForm(){
		$("#popup-feedback-form-overlay").addClass("popup-feedback-form-active");
    $("#popup-feedback-form").addClass("popup-feedback-form-active");
  }
</script>
