<!-- Banner intro -->
<div class="banner-caption banner-serm-intro">
  <p>Управление репутацией в интернете.<br>SERM</p>
</div>

<!-- Intro block -->
<div class="container container-serm-intro">
  <p>
    Каждая  компания позиционирует себя в интернет-пространстве. Но насколько её имидж будет привлекательным? Добиться положительного имиджа можно разными способами. Но лучше знать определённые инструменты создания имиджа и управления репутацией, чтобы цель была достигнута быстрее, дешевле и результативнее.<br>
    <span class="bold">SERM (Search Engine Reputation Management)</span> – мощная современная PR-технология, позволяющая продвигать компании или бренды так, чтобы сформировать нужный  образ в интернете.  Сюда входит: <span class="text-bg-highlight">создание пресс-релизов, статей и отзывов, управление контентом, раскрутка интернет-площадок.</span> Мы создаем и поддерживаем имидж компаний в рамках услуги SERM.
  </p>
  
  <p class="h2-like">
    Для каких компаний подходит SERM?
  </p>
  
  <!-- List -->
  <ul class="serm-list-target">
    <li>
      Новая компания
    </li>
    <li>
      Компания, неимеющая отзывов
    </li>
    <li>
      Компания, у которой есть негативные отзывы
    </li>
  </ul>
</div>

<!-- Reviews block -->
<div class="container-serm-reviews-wrapper">
  <div class="container container-serm-reviews">
    <p class="h2-like">
      Формирование положительного имиджа
    </p>
    
    <!-- List -->
    <!-- Порядок элементов: слева направо, сверху вниз -->
    <ul class="serm-reviews-list">
      <p class="serm-list-title">
        Отзывы
      </p>
      
      <li class="serm-reviews-list-item">
        <div class="serm-reviews-list-item-mark">
          <img src="/assets/images/list/num-1.png">
        </div>
        <p class="serm-reviews-list-item-desc">
          Проведём тщательный мониторинг негативных отзывов в интернете, используя ручные методы и автоматизированные решения
        </p>
      </li>
      <li class="serm-reviews-list-item">
        <div class="serm-reviews-list-item-mark">
          <img src="/assets/images/list/num-4.png">
        </div>
        <p class="serm-reviews-list-item-desc">
          Создадим положительные отзывы на основе контент-анализа и действительной информации от ваших клиентов
        </p>
      </li>
      <li class="serm-reviews-list-item">
        <div class="serm-reviews-list-item-mark">
          <img src="/assets/images/list/num-2.png">
        </div>
        <p class="serm-reviews-list-item-desc">
          Найдём среди поисковой выдачи те сайты, на которых есть негативные отзывы
        </p>
      </li>
      <li class="serm-reviews-list-item">
        <div class="serm-reviews-list-item-mark">
          <img src="/assets/images/list/num-5.png">
        </div>
        <p class="serm-reviews-list-item-desc">
          Устраним источники отрицательных отзывов
        </p>
      </li>
      <li class="serm-reviews-list-item">
        <div class="serm-reviews-list-item-mark">
          <img src="/assets/images/list/num-3.png">
        </div>
        <p class="serm-reviews-list-item-desc">
          Ликвидируем негативную информацию с сайтов и поисковой выдачи
        </p>
      </li>
    </ul>
    
    <!-- List -->
    <ul class="serm-reviews-result-list">
      <p class="serm-result-list-title">
        Результат
      </p>
      
      <li class="serm-reviews-result-list-item">
        <div class="serm-reviews-result-list-item-mark">
          <img src="/assets/images/list/check.png">
        </div>
        <p class="serm-reviews-result-list-item-desc">
          Улучшение имиджа с отрицательного на положительный
        </p>
      </li>
      <li class="serm-reviews-result-list-item">
        <div class="serm-reviews-result-list-item-mark">
          <img src="/assets/images/list/check.png">
        </div>
        <p class="serm-reviews-result-list-item-desc">
          Усиление реальной ценности бренда
        </p>
      </li>
      <li class="serm-reviews-result-list-item">
        <div class="serm-reviews-result-list-item-mark">
          <img src="/assets/images/list/check.png">
        </div>
        <p class="serm-reviews-result-list-item-desc">
          Увеличение обращений в компанию потенциальных клиентов
        </p>
      </li>
    </ul>
  </div>
</div>

<!-- Social block -->
<div class="container container-serm-social">
    <!-- List -->
    <!-- Порядок элементов: слева направо, сверху вниз -->
    <ul class="serm-social-list">
      <p class="serm-list-title">
        Социальные сети
      </p>
      
      <li class="serm-social-list-item">
        <div class="serm-social-list-item-mark">
          <img src="/assets/images/list/num-1.png">
        </div>
        <p class="serm-social-list-item-desc">
          Проведём SMM-анализ социальных групп в Facebook и «Вконтакте»
        </p>
      </li>
      <li class="serm-social-list-item">
        <div class="serm-social-list-item-mark">
          <img src="/assets/images/list/num-3.png">
        </div>
        <p class="serm-social-list-item-desc">
          Создадим качественный контент, который будет отражать характер бренда и поддерживать репутацию
        </p>
      </li>
      <li class="serm-social-list-item">
        <div class="serm-social-list-item-mark">
          <img src="/assets/images/list/num-2.png">
        </div>
        <p class="serm-social-list-item-desc">
          Найдем и исправим недочеты на предмет соответствия имиджу
        </p>
      </li>
      <li class="serm-social-list-item">
        <div class="serm-social-list-item-mark">
          <img src="/assets/images/list/num-4.png">
        </div>
        <p class="serm-social-list-item-desc">
          По желанию - окажем услугу «SMM-продвижение в соц.сетях»
        </p>
      </li>
    </ul>
    
    <!-- List -->
    <ul class="serm-social-result-list">
      <p class="serm-result-list-title">
        Результат
      </p>
      
      <li class="serm-social-result-list-item">
        <div class="serm-social-result-list-item-mark">
          <img src="/assets/images/list/check.png">
        </div>
        <p class="serm-social-result-list-item-desc">
          Создание и поддержка «живого» информационного поля вокруг бренда/компании
        </p>
      </li>
      <li class="serm-social-result-list-item">
        <div class="serm-social-result-list-item-mark">
          <img src="/assets/images/list/check.png">
        </div>
        <p class="serm-social-result-list-item-desc">
          Увеличение обращений в компанию целевой аудитории
        </p>
      </li>
      <li class="serm-social-result-list-item">
        <div class="serm-social-result-list-item-mark">
          <img src="/assets/images/list/check.png">
        </div>
        <p class="serm-social-result-list-item-desc">
          Продвижение бренда и поощрение целевой аудитории к прямому отклику
        </p>
      </li>
    </ul>
</div>

<!-- Text block -->
<div class="container-serm-text-wrapper">
  <div class="container container-serm-text">
    <!-- List -->
    <!-- Порядок элементов: слева направо, сверху вниз -->
    <ul class="serm-text-list">
      <p class="serm-list-title">
        Тексты
      </p>
      
      <li class="serm-text-list-item">
        <div class="serm-text-list-item-mark">
          <img src="/assets/images/list/num-1.png">
        </div>
        <p class="serm-text-list-item-desc">
          Проведём анализ всех имеющихся текстов, которые вы используете для описания товаров/услуг, PR и рекламы
        </p>
      </li>
      <li class="serm-text-list-item">
        <div class="serm-text-list-item-mark">
          <img src="/assets/images/list/num-3.png">
        </div>
        <p class="serm-text-list-item-desc">
          Скорректируем недостатки
        </p>
      </li>
    </ul>
    
    <!-- List -->
    <ul class="serm-text-result-list">
      <p class="serm-result-list-title">
        Результат
      </p>
      
      <li class="serm-text-result-list-item">
        <div class="serm-text-result-list-item-mark">
          <img src="/assets/images/list/check.png">
        </div>
        <p class="serm-text-result-list-item-desc">
          Подержка положительного имиджа
        </p>
      </li>
      <li class="serm-text-result-list-item">
        <div class="serm-text-result-list-item-mark">
          <img src="/assets/images/list/check.png">
        </div>
        <p class="serm-text-result-list-item-desc">
          Продвижение бренда за счёт разработки индивидуального “информационного стиля”
        </p>
      </li>
      <li class="serm-text-result-list-item">
        <div class="serm-text-result-list-item-mark">
          <img src="/assets/images/list/check.png">
        </div>
        <p class="serm-text-result-list-item-desc">
          Увеличение обращений в компанию потенциальных клиентов
        </p>
      </li>
    </ul>
  </div>
</div>

<!-- Summary block -->
<div class="container container-serm-summary">
  <p class="h2-like">
    Береги платье снову, а честь смолоду
  </p>
  <p>
    Имидж в интернете требует более тщательной проработки, чем  в офф-лайне. Реальность такова: то, что было сказано о вас вчера, сегодня будет обсуждаться, а завтра уже забудется. В интернете же может надолго остаться та информация, которая была опубликована несколько лет назад. Даже если это было мимолётное негативное замечание на малоизвестном форуме, оно может отрицательно повлиять на ваш имидж сегодня и в будущем.<br>
    Чтобы такого казуса не произошло, мы предлагаем воспользоваться PR-услугой <span class="text-highlight">«Управление репутацией в интернете»</span> от OnlineLab. Она подходит для малого, среднего и крупного бизнеса; для B2B и B2C; для давно работающих и в частности новых компаний. Начать создавать надежную репутацию с самого начала гораздо проще и дешевле, чем исправить уже сформировавшуюся.
  </p>
</div>