<!-- Banner intro -->
<div class="banner-caption banner-serm-intro">
  <p>Управление репутацией в интернете.<br>SERM</p>
</div>

<!-- Intro block -->
<div class="container container-serm-intro">
  <p>
    Каждая  компания позиционирует себя в интернет-пространстве. Но насколько её имидж будет привлекательным? Добиться положительного имиджа можно разными способами. Но лучше знать определённые инструменты создания имиджа и управления репутацией, чтобы цель была достигнута быстрее, дешевле и результативнее.<br>
    <span class="bold">SERM (Search Engine Reputation Management)</span> – мощная современная PR-технология, позволяющая продвигать компании или бренды так, чтобы сформировать нужный  образ в интернете.  Сюда входит: <span class="text-bg-highlight">создание пресс-релизов, статей и отзывов, управление контентом, раскрутка интернет-площадок.</span> Мы создаем и поддерживаем имидж компаний в рамках услуги SERM.
  </p>
  
  <p class="h2-like">
    Для каких компаний подходит SERM?
  </p>
</div>

<!-- Reviews block -->
<div class="container-serm-reviews-wrapper">
  <div class="container container-serm-reviews">
    <p class="h2-like">
      Формирование положительного имиджа
    </p>
  </div>
</div>

<!-- Social block -->
<div class="container container-serm-social">
  
</div>

<!-- Text block -->
<div class="container-serm-text-wrapper">
  <div class="container container-serm-text">
    
  </div>
</div>

<!-- Summary block -->
<div class="container container-serm-summary">
  <p class="h2-like">
    Береги платье снову, а честь смолоду
  </p>
  <p>
    Имидж в интернете требует более тщательной проработки, чем  в офф-лайне. Реальность такова: то, что было сказано о вас вчера, сегодня будет обсуждаться, а завтра уже забудется. В интернете же может надолго остаться та информация, которая была опубликована несколько лет назад. Даже если это было мимолётное негативное замечание на малоизвестном форуме, оно может отрицательно повлиять на ваш имидж сегодня и в будущем.<br>
    Чтобы такого казуса не произошло, мы предлагаем воспользоваться PR-услугой <span class="text-highlight">«Управление репутацией в интернете»</span> от OnlineLab. Она подходит для малого, среднего и крупного бизнеса; для B2B и B2C; для давно работающих и в частности новых компаний. Начать создавать надежную репутацию с самого начала гораздо проще и дешевле, чем исправить уже сформировавшуюся.
  </p>
</div>