/* Common styles */
.container-serm-intro,
.container-serm-reviews,
.container-serm-social,
.container-serm-text,
.container-serm-summary{
  p{
    .main-font;
    margin: 0;
  }

  .h2-like{
    .bold;
    color: @green-color;
    font-size: 30px;
    line-height: 20px;
    text-align: center;
  }
}

/* Banner */
.banner-serm-intro{
  background: url(/assets/images/serm/banner-intro.jpg) no-repeat;
}

/* Intro block */
.container-serm-intro{
  
}

/* Reviews block */
.container-serm-reviews-wrapper{
  background: #f8f8f8;
}
.container-serm-reviews{
  
}

/* Social block */
.container-serm-social{
  
}

/* Text block */
.container-serm-text-wrapper{
  background: #f8f8f8;
}
.container-serm-text{
  
}

/* Summary block */
.container-serm-summary{
  
}