<!-- Banner intro -->
<div class="banner-caption banner-serm-intro">
  <p>Управление репутацией в интернете - SERM</p>
</div>

<!-- Intro block -->
<div class="container container-serm-intro p-t-30 p-b-30">
  <p class="column span-12 m-t-10">
    Каждая  компания позиционирует себя в интернет-пространстве. Но насколько её имидж будет привлекательным? Добиться положительного имиджа можно разными способами. Но лучше знать определённые инструменты создания имиджа и управления репутацией, чтобы цель была достигнута быстрее, дешевле и результативнее.<br>
    <span class="bold">SERM (Search Engine Reputation Management)</span> – мощная современная PR-технология, позволяющая продвигать компании или бренды так, чтобы сформировать нужный  образ в интернете.  Сюда входит: <span class="text-bg-highlight">создание пресс-релизов, статей и отзывов, управление контентом, раскрутка интернет-площадок.</span> Мы создаем и поддерживаем имидж компаний в рамках услуги SERM.
  </p>
  
  <p class="h2-like column span-12">
    Для каких компаний подходит SERM?
  </p>
  
  <!-- List -->
  <ul class="serm-list-target column span-12 m-t-10 m-b-20">
    <li class="column span-4 p-t-5 p-b-5">
      Новая компания
    </li>
    <li class="column span-4">
      Компания, не имеющая отзывов
    </li>
    <li class="column span-4 last">
      Компания, у которой есть негативные отзывы
    </li>
  </ul>
</div>

<!-- Reviews block -->
<div class="container-serm-reviews-wrapper">
  <div class="container container-serm-reviews p-t-10 p-b-30">
    <p class="h2-like column span-12">
      Формирование положительного имиджа
    </p>
    
    <!-- List -->
    <!-- Порядок элементов: слева направо, сверху вниз -->
    <ul class="serm-reviews-list column span-12">
      <p class="serm-list-title column span-12">
        Отзывы
      </p>
      
      <li class="serm-reviews-list-item column span-6 m-t-10 m-b-20">
        <div class="serm-reviews-list-item-mark">
          <img src="/assets/images/list/num-1.png">
        </div>
        <p class="serm-reviews-list-item-desc">
          Проведём тщательный мониторинг негативных отзывов в интернете, используя ручные методы и автоматизированные решения
        </p>
      </li>
      <li class="serm-reviews-list-item column span-6 last m-t-10 m-b-20">
        <div class="serm-reviews-list-item-mark">
          <img src="/assets/images/list/num-4.png">
        </div>
        <p class="serm-reviews-list-item-desc">
          Создадим положительные отзывы на основе контент-анализа и действительной информации от ваших клиентов
        </p>
      </li>
      <li class="serm-reviews-list-item column span-6 m-t-10 m-b-20">
        <div class="serm-reviews-list-item-mark">
          <img src="/assets/images/list/num-2.png">
        </div>
        <p class="serm-reviews-list-item-desc">
          Найдём среди поисковой выдачи те сайты, на которых есть негативные отзывы
        </p>
      </li>
      <li class="serm-reviews-list-item column span-6 last m-t-10 m-b-20">
        <div class="serm-reviews-list-item-mark">
          <img src="/assets/images/list/num-5.png">
        </div>
        <p class="serm-reviews-list-item-desc m-t-10">
          Устраним источники отрицательных отзывов
        </p>
      </li>
      <li class="serm-reviews-list-item column span-6 m-t-10 m-b-20">
        <div class="serm-reviews-list-item-mark">
          <img src="/assets/images/list/num-3.png">
        </div>
        <p class="serm-reviews-list-item-desc">
          Ликвидируем негативную информацию с сайтов и поисковой выдачи
        </p>
      </li>
    </ul>
    
    <!-- List -->
    <ul class="serm-reviews-result-list column span-12">
      <p class="serm-result-list-title column span-12">
        Результат
      </p>
      
      <li class="serm-reviews-result-list-item column span-12 m-t-10 m-b-20">
        <div class="serm-reviews-result-list-item-mark">
          <img src="/assets/images/list/check.png">
        </div>
        <p class="serm-reviews-result-list-item-desc m-t-10">
          Улучшение имиджа с отрицательного на положительный
        </p>
      </li>
      <li class="serm-reviews-result-list-item column span-6 m-t-10 m-b-20">
        <div class="serm-reviews-result-list-item-mark">
          <img src="/assets/images/list/check.png">
        </div>
        <p class="serm-reviews-result-list-item-desc m-t-10">
          Усиление реальной ценности бренда
        </p>
      </li>
      <li class="column span-6 last">
        <!-- Order button -->
        <div app-order-btn ya-goal="serm" class="column span-6"></div>
      </li>
      <li class="serm-reviews-result-list-item column span-12 m-t-10 m-b-20">
        <div class="serm-reviews-result-list-item-mark">
          <img src="/assets/images/list/check.png">
        </div>
        <p class="serm-reviews-result-list-item-desc m-t-10">
          Увеличение обращений в компанию потенциальных клиентов
        </p>
      </li>
    </ul>
  </div>
</div>

<!-- Social block -->
<div class="container container-serm-social p-t-30 p-b-30">
    <!-- List -->
    <!-- Порядок элементов: слева направо, сверху вниз -->
    <ul class="serm-social-list column span-12">
      <p class="serm-list-title column span-12">
        Социальные сети
      </p>
      
      <li class="serm-social-list-item column span-6 m-t-10 m-b-20">
        <div class="serm-social-list-item-mark">
          <img src="/assets/images/list/num-1.png">
        </div> 
        <p class="serm-social-list-item-desc m-t-10">
          Проведём SMM-анализ социальных групп в Facebook и «Вконтакте»
        </p>
      </li>
      <li class="serm-social-list-item column span-6 last m-t-10 m-b-20">
        <div class="serm-social-list-item-mark">
          <img src="/assets/images/list/num-3.png">
        </div>
        <p class="serm-social-list-item-desc">
          Создадим качественный контент, который будет отражать характер бренда и поддерживать репутацию
        </p>
      </li>
      <li class="serm-social-list-item column span-6 m-t-10 m-b-20">
        <div class="serm-social-list-item-mark">
          <img src="/assets/images/list/num-2.png">
        </div>
        <p class="serm-social-list-item-desc m-t-10">
          Найдем и исправим недочеты на предмет соответствия имиджу
        </p>
      </li>
      <li class="serm-social-list-item column span-6 last m-t-10 m-b-20">
        <div class="serm-social-list-item-mark">
          <img src="/assets/images/list/num-4.png">
        </div>
        <p class="serm-social-list-item-desc m-t-10">
          По желанию - окажем услугу «SMM-продвижение в соц.сетях»
        </p>
      </li>
    </ul>
    
    <!-- List -->
    <ul class="serm-social-result-list column span-12">
      <p class="serm-result-list-title column span-12">
        Результат
      </p>
      
      <li class="serm-social-result-list-item column span-12 m-t-10 m-b-20">
        <div class="serm-social-result-list-item-mark">
          <img src="/assets/images/list/check.png">
        </div>
        <p class="serm-social-result-list-item-desc m-t-10">
          Создание и поддержка «живого» информационного поля вокруг бренда/компании
        </p>
      </li>
      <li class="serm-social-result-list-item column span-6 m-t-10 m-b-20">
        <div class="serm-social-result-list-item-mark">
          <img src="/assets/images/list/check.png">
        </div>
        <p class="serm-social-result-list-item-desc m-t-10">
          Увеличение обращений в компанию целевой аудитории
        </p>
      </li>
      <li class="column span-6 last">
        <!-- Order button -->
        <div app-order-btn ya-goal="serm" class="column span-6"></div>
      </li>
      <li class="serm-social-result-list-item column span-12 m-t-10 m-b-20">
        <div class="serm-social-result-list-item-mark">
          <img src="/assets/images/list/check.png">
        </div>
        <p class="serm-social-result-list-item-desc m-t-10">
          Продвижение бренда и поощрение целевой аудитории к прямому отклику
        </p>
      </li>
    </ul>
</div>

<!-- Text block -->
<div class="container-serm-text-wrapper">
  <div class="container container-serm-text p-t-30 p-b-30">
    <!-- List -->
    <!-- Порядок элементов: слева направо, сверху вниз -->
    <ul class="serm-text-list column span-12">
      <p class="serm-list-title column span-12">
        Тексты
      </p>
      
      <li class="serm-text-list-item column span-6 m-t-10 m-b-20">
        <div class="serm-text-list-item-mark">
          <img src="/assets/images/list/num-1.png">
        </div>
        <p class="serm-text-list-item-desc">
          Проведём анализ всех имеющихся текстов, которые вы используете для описания товаров/услуг, PR и рекламы
        </p>
      </li>
      <li class="serm-text-list-item column span-6 last m-t-10 m-b-20">
        <div class="serm-text-list-item-mark">
          <img src="/assets/images/list/num-2.png">
        </div>
        <p class="serm-text-list-item-desc m-t-10">
          Скорректируем недостатки
        </p>
      </li>
    </ul>
    
    <!-- List -->
    <ul class="serm-text-result-list column span-12">
      <p class="serm-result-list-title column span-12">
        Результат
      </p>
      
      <li class="serm-text-result-list-item column span-12 m-t-10 m-b-20">
        <div class="serm-text-result-list-item-mark">
          <img src="/assets/images/list/check.png">
        </div>
        <p class="serm-text-result-list-item-desc m-t-10">
          Подержка положительного имиджа
        </p>
      </li>
      <li class="serm-text-result-list-item column span-6 m-t-10 m-b-20">
        <div class="serm-text-result-list-item-mark">
          <img src="/assets/images/list/check.png">
        </div>
        <p class="serm-text-result-list-item-desc m-t-10">
          Продвижение бренда за счёт разработки индивидуального “информационного стиля”
        </p>
      </li>
      <li class="column span-6 last">
        <!-- Order button -->
        <div app-order-btn ya-goal="serm" class="column span-6"></div>
      </li>
      <li class="serm-text-result-list-item column span-12 m-t-10 m-b-20">
        <div class="serm-text-result-list-item-mark">
          <img src="/assets/images/list/check.png">
        </div>
        <p class="serm-text-result-list-item-desc m-t-10">
          Увеличение обращений в компанию потенциальных клиентов
        </p>
      </li>
    </ul>
  </div>
</div>

<!-- Summary block -->
<div class="container container-serm-summary p-t-10 p-b-30">
  <p class="h2-like column span-12">
    Береги платье снову, а честь смолоду
  </p>
  <p class="column span-12 m-b-10">
    Имидж в интернете требует более тщательной проработки, чем  в офф-лайне. Реальность такова: то, что было сказано о вас вчера, сегодня будет обсуждаться, а завтра уже забудется. В интернете же может надолго остаться та информация, которая была опубликована несколько лет назад. Даже если это было мимолётное негативное замечание на малоизвестном форуме, оно может отрицательно повлиять на ваш имидж сегодня и в будущем.<br>
    Чтобы такого казуса не произошло, мы предлагаем воспользоваться PR-услугой <span class="text-highlight">«Управление репутацией в интернете»</span> от OnlineLab. Она подходит для малого, среднего и крупного бизнеса; для B2B и B2C; для давно работающих и в частности новых компаний. Начать создавать надежную репутацию с самого начала гораздо проще и дешевле, чем исправить уже сформировавшуюся.
  </p>
  
  <!-- Order button -->
  <div app-order-btn ya-goal="serm" class="column span-12 m-t-10"></div>
</div>

<!-- Last projects -->
<div class="container" app-last-projects title="Последние выполненные работы" filter-by="marketing"></div>
