<!-- Banner intro -->
<div class="banner-caption banner-position-intro">
  <p>Продвижение сайта по позициям<br>в поисковой выдаче</p>
</div>
<!-- Intro block -->
<div class="container container-position-intro">
  
</div>

<!-- Banner advances -->
<div class="banner-caption banner-position-advances">
  <p>Первые позиции в списке - больше<br>целевых посетителей!</p>
</div>
<!-- Advances block -->
<div class="container container-position-advances">
  
</div>

<!-- Tariffs -->
<div class="container-position-tariffs-wrapper">
  <div class="container container-position-tariffs">
    
  </div>
</div>