/* Common text styles */
.container-position-intro,
.container-position-advances,
.container-position-tariffs{
  p{
    .main-font;
    margin: 0;
  }

  .h2-like{
    .bold;
    color: @green-color;
    font-size: 30px;
    line-height: 20px;
    text-align: center;
  }
}

/* Intro banner*/
.banner-position-intro{
  background: url(/assets/images/position/banner-intro.jpg) no-repeat;
}
/* Intro block */
.container-position-intro{
  
}

/* Banner advances */
.banner-position-advances{
  background: url(/assets/images/position/banner-advances.jpg) no-repeat;
}
/* Advances block */
.container-position-advances{
  
}

/* Tariffs block */
.container-position-tariffs-wrapper{
  background: #f8f8f8;
}
.container-position-tariffs{
  
}