<!-- Banner intro -->
<div class="banner-caption banner-position-intro">
  <p>Продвижение сайта по позициям<br>в поисковой выдаче</p>
</div>
<!-- Intro block -->
<div class="container container-position-intro">
  <p>
    Когда вы ищите информацию в Google, Yandex, Yahoo или других поисковых системах, то чаще всего открываете ссылки лишь с первой страницы выдачи. Если позволяет время – просмотрите три-пять страниц, не больше. Так поступает большинство пользователей: им тоже некогда, кому-то просто лень, а другие считают, что только те сайты, которые в верху списка, заслуживают доверия – и не безосновательно.
  </p>
  <p class="h2-like">
    Как сайты попадают на позиции поисковой выдачи?
  </p>
  <p>
    Система выдачи результатов поиска любого поисковика определяет, насколько точно сайт соответствует запросу пользователя, будет ли он максимально полезен, достаточно ли на сайте интересной информации. Любой поисковик имеет свои алгоритмы ранжирования, но все они направлены на то, чтобы проанализировать миллионы сайтов и выдать их в определённом порядке: <span-text-bg-highlight>чем полезней сайт, тем выше его позиция.</span-text-bg-highlight>
  </p>
  <p class="h2-like">
    На полезность сайта влияют факторы:
  </p>
  
  <!-- Table -->
  
  <p class="h2-like">
    Как сделать сайт полезным?
  </p>
  <p>
    Иногда сайт естественным образом соответствует всем многочисленным требованиям поисковиков. Когда ресурс молодой, то ему необходима раскрутка и SEO-продвижение. Это - комплекс процедур, направленных на то, чтобы поисковики показывали ваш сайт в числе первых результатов выдачи по разным поисковым запросам пользователей.
  </p>
</div>

<!-- Banner advances -->
<div class="banner-caption banner-position-advances">
  <p>Первые позиции в списке - больше<br>целевых посетителей!</p>
</div>
<!-- Advances block -->
<div class="container container-position-advances">
  <p class="h2-like">
    7 преимуществ продвижения по позициям:
  </p>
</div>

<!-- Tariffs -->
<div class="container-position-tariffs-wrapper">
  <div class="container container-position-tariffs">
    <p class="h2-like">
      Закажите продвижение сайта у нас, и мы поможем вам находиться в списке лучших сайтов по запросам пользователей!
    </p>
    <p>
      Каждый день мы занимаемся продвижением сайтов по позициям в поисковых системах. Мы знаем множество приёмов раскрутки и умеем их отбирать и комбинировать в зависимости от конкретных задач определенного сайта.<br>
      Мы предложим вам несколько вариантов продвижения сайта по позициям, из которых вы выберете именно то, что интересно для Вас.  На всём этапе продвижения, вы сможете отслеживать процесс и корректировать дальнейшие шаги.<br>
      Открытое, прозрачное сотрудничество с клиентом – базовый принцип нашей работы!
    </p>
  </div>
</div>