<!-- Banner intro -->
<div class="banner-caption banner-position-intro">
  <p>Продвижение сайта по позициям<br>в поисковой выдаче</p>
</div>
<!-- Intro block -->
<div class="container container-position-intro p-t-30 p-b-30">
  <p class="column span-12 m-t-10">
    Когда вы ищите информацию в Google, Yandex, Yahoo или других поисковых системах, то чаще всего открываете ссылки лишь с первой страницы выдачи. Если позволяет время – просмотрите три-пять страниц, не больше. Так поступает большинство пользователей: им тоже некогда, кому-то просто лень, а другие считают, что только те сайты, которые в верху списка, заслуживают доверия – и не безосновательно.
  </p>
  <p class="h2-like column span-12">
    Как сайты попадают на позиции поисковой выдачи?
  </p>
  <p class="column span-12">
    Система выдачи результатов поиска любого поисковика определяет, насколько точно сайт соответствует запросу пользователя, будет ли он максимально полезен, достаточно ли на сайте интересной информации. Любой поисковик имеет свои алгоритмы ранжирования, но все они направлены на то, чтобы проанализировать миллионы сайтов и выдать их в определённом порядке: <span-text-bg-highlight>чем полезней сайт, тем выше его позиция.</span-text-bg-highlight>
  </p>
  <p class="h2-like column span-12">
    На полезность сайта влияют факторы:
  </p>
  
  <!-- Table -->
  <table class="position-factors-table column span-12 m-t-10 m-b-10">
    <tr>
      <th>Внутренние</th>
      <th>Внешние</th>
      <th>Поведенческие</th>
    </tr>
    
    <tr>
      <td>Объем текстов на страницах сайта</td>
      <td>Как много встречается информации о вашей компании/услугах в Интернете</td>
      <td>Как долго посетитель находится на сайте</td>
    </tr>
    <tr>
      <td>Качество текстов</td>
      <td>Как часто другие ресурсы в интернете ссылаются на сайт (ссылочная популярность, индекс цитирования</td>
      <td>Показатель CTR - соотношение числа переходов на сайт из выдачи к числу просмотров информации о нем</td>
    </tr>
    <tr>
      <td>Количество и плотность ключевых слов, по которым происходят запросы (релевантность)</td>
      <td>Какие сайты ссылаются на ваш сайт</td>
      <td>Количество ушедших посетителей с  сайта - показатель «отказов»</td>
    </tr>
    <tr>
      <td>Заголовки</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Теги</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Картинки</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Как часто обновляется информация на сайте</td>
      <td></td>
      <td></td>
    </tr>
  </table>
  
  <p class="h2-like column span-12">
    Как сделать сайт полезным?
  </p>
  <p class="column span-12 m-b-10">
    Иногда сайт естественным образом соответствует всем многочисленным требованиям поисковиков. Когда ресурс молодой, то ему необходима раскрутка и SEO-продвижение. Это - комплекс процедур, направленных на то, чтобы поисковики показывали ваш сайт в числе первых результатов выдачи по разным поисковым запросам пользователей.
  </p>
  
  <!-- Order button -->
  <div app-order-btn ya-goal="position" class="column span-12"></div>
</div>

<!-- Banner advances -->
<div class="banner-caption banner-position-advances">
  <p>Первые позиции в списке - больше<br>целевых посетителей!</p>
</div>
<!-- Advances block -->
<div class="container container-position-advances p-t-10 p-b-30">
  <p class="h2-like column span-12">
    7 преимуществ продвижения по позициям:
  </p>
  
  <!-- List -->
  <ul class="position-advances-list column span-12">
    <li class="position-advances-list-item column span-12 m-t-10 m-b-20">
      <div class="position-advances-list-item-marker">
        <img src="/assets/images/list/num-1.png" alt="">
      </div>
      <p class="position-advances-list-item-title">
        Видимость в сети Интернет
      </p>
      <p class="position-advances-list-item-desc">
        Ваш сайт будут посещать по большему числу запросов из поисковых систем.
      </p>
    </li>
    <li class="position-advances-list-item column span-12 m-t-10 m-b-20">
      <div class="position-advances-list-item-marker">
        <img src="/assets/images/list/num-2.png" alt="">
      </div>
      <p class="position-advances-list-item-title">
        Увеличение посещаемости сайта
      </p>
      <p class="position-advances-list-item-desc">
        Привлечение большей целевой аудитории, интересующейся именно вашим продуктом или продуктом со схожими характеристиками.
      </p>
    </li>
    <li class="position-advances-list-item column span-12 m-t-10 m-b-20">
      <div class="position-advances-list-item-marker">
        <img src="/assets/images/list/num-3.png" alt="">
      </div>
      <p class="position-advances-list-item-title">
        Охват целевой аудитории и рост конверсии
      </p>
      <p class="position-advances-list-item-desc">
        Возрастёт количество тех пользователей, которые пришли на ваш сайт именно для того, чтобы купить товар или заказать услугу. Также уменьшится количество людей, которые попадают на ваш сайт случайно и сразу же покидают его, тем самым показывая поисковикам, что сайт малополезен.<br> 
        <span class="bold">Конверсия</span> – это соотношение посетителей  к покупателям.
      </p>
    </li>
    <li class="position-advances-list-item column span-12 m-t-10 m-b-20">
      <div class="position-advances-list-item-marker">
        <img src="/assets/images/list/num-4.png" alt="">
      </div>
      <p class="position-advances-list-item-title">
        Рост продаж
      </p>
      <p class="position-advances-list-item-desc">
        Увеличится количество заказов с сайта, а значит – увеличится общий объём продаж.
      </p>
    </li>
    <li class="position-advances-list-item column span-12 m-t-10 m-b-20">
      <div class="position-advances-list-item-marker">
        <img src="/assets/images/list/num-5.png" alt="">
      </div>
      <p class="position-advances-list-item-title">
        Низкая себестоимость и высокая отдача
      </p>
      <p class="position-advances-list-item-desc">
        Затраты на СЕО-продвижение гораздо ниже других форм маркетинга, но при этом продвижение – крайне эффективный способ раскрутки сайта.
      </p>
    </li>
    <li class="position-advances-list-item column span-12 m-t-10 m-b-20">
      <div class="position-advances-list-item-marker">
        <img src="/assets/images/list/num-6.png" alt="">
      </div>
      <p class="position-advances-list-item-title">
        Реклама вашей компании
      </p>
      <p class="position-advances-list-item-desc">
        Чем чаще пользователи будут видеть ваш сайт в результатах выдачи, тем больше доверия к нему будет – как со стороны конечных потребителей, так и со стороны поисковиков.
      </p>
    </li>
    <li class="position-advances-list-item column span-12 m-t-10 m-b-20">
      <div class="position-advances-list-item-marker">
        <img src="/assets/images/list/num-7.png" alt="">
      </div>
      <p class="position-advances-list-item-title">
        Целевое вложение денег
      </p>
      <p class="position-advances-list-item-desc">
        Средства, которые вы вложите в раскрутку, пойдут именно на улучшение вашего сайта и обязательно принесут доход .
      </p>
    </li>
  </ul>
  
  <!-- Order button -->
  <div app-order-btn ya-goal="position" class="column span-12"></div>
</div>

<!-- Tariffs -->
<div class="container-position-tariffs-wrapper">
  <div class="container container-position-tariffs p-t-10 p-b-30">
    <p class="h2-like column span-12">
      Закажите продвижение сайта у нас, и мы поможем вам находиться в списке лучших сайтов по запросам пользователей!
    </p>
    <p class="column span-12 m-b-20">
      Каждый день мы занимаемся продвижением сайтов по позициям в поисковых системах. Мы знаем множество приёмов раскрутки и умеем их отбирать и комбинировать в зависимости от конкретных задач определенного сайта.<br>
      Мы предложим вам несколько вариантов продвижения сайта по позициям, из которых вы выберете именно то, что интересно для Вас.  На всём этапе продвижения, вы сможете отслеживать процесс и корректировать дальнейшие шаги.<br>
      Открытое, прозрачное сотрудничество с клиентом – базовый принцип нашей работы!
    </p>
    
    <!-- List -->
    <ul class="position-tariffs-list column span-12 m-t-20 m-b-20">
      <li class="column span-3">Тариф EASY</li>
      <li class="column span-3">Тариф MEDIUM</li>
      <li class="column span-3">Тариф HARD</li>
      <li class="column span-3 last">Тариф ORIGINAL</li>
    </ul>
  </div>
</div>

<!-- Last projects -->
<div class="container" app-last-projects title="Последние выполненные работы" filter-by="marketing"></div>