<div class="header-wrapper">
			
	<div class="header-main">
		<div class="logo">
			<a>
				OnlineLab
			</a>
		</div>

		<div class="menu-wrapper"> 
			<div class = "language-version " >
				<a href="#" class="language">
				English version
				</a>
			</div>

			<ul class = "top-menu">
				<li>
					<a class = "item"  href="#">Делаем</a>
					<ul>
						<li><a class = "item"  href="#">Web разработка</a></li>
						<li><a class = "item"  href="#">Мобильные приложения</a></li>
						<li><a class = "item"  href="#">Интернет маркетинг</a></li>
						<li><a class = "item"  href="#">Электроника</a></li>
					</ul>
				</li>

				<li>
					<a class = "item"  href="#">Хвалимся</a>
					<ul>
						<li><a class = "item"  href="#">Web разработка</a></li>
						<li><a class = "item"  href="#">Мобильные приложения</a></li>
						<li><a class = "item"  href="#">Интернет маркетинг</a></li>
						<li><a class = "item"  href="#">Электроника</a></li>
					</ul>
				</li>

				<li>
					<a class = "item"  href="#">Знакомимся</a>
					<ul>
						<li><a class = "item"  href="#">Web разработка</a></li>
						<li><a class = "item"  href="#">Мобильные приложения</a></li>
						<li><a class = "item"  href="#">Интернет маркетинг</a></li>
						<li><a class = "item"  href="#">Электроника</a></li>
					</ul>
				</li>

				<li>
					<a class = "item"  href="#">Пишем</a>
					<ul>
						<li><a class = "item"  href="#">Web разработка</a></li>
						<li><a class = "item"  href="#">Мобильные приложения</a></li>
						<li><a class = "item"  href="#">Интернет маркетинг</a></li>
						<li><a class = "item"  href="#">Электроника</a></li>
					</ul>
				</li>

				<li>
					<a class = "item"  href="#">Контактируем</a>
					<ul>
						<li><a class = "item"  href="#">Web разработка</a></li>
						<li><a class = "item"  href="#">Мобильные приложения</a></li>
						<li><a class = "item"  href="#">Интернет маркетинг</a></li>
						<li><a class = "item"  href="#">Электроника</a></li>
					</ul>
				</li>
			</ul>

		</div>
		
		<div class="phones-wrapper">
			<div class = "city-menu_block">
				<div class = "city-menu-wrap"> 
		
					<ul class = "city-items">
						<!--<li class = "city-item"><a class = "item"  href="#" ng-click="current_city = 1">Москва</a></li>
						<li class = "city-item"><a class = "item"  href="#" ng-click="current_city = 2">Санкт-Петербург</a></li>
						<li class = "city-item active"><a class = "item"  href="#" ng-click="current_city = 3">Тамбов</a></li>
						<li class = "city-item"><a class = "item"  href="#" ng-click="current_city = 4">Нью-Йорк</a></li>-->
						
						<li class = "city-item {{item.active}}" ng-class = "{'active': current_city == {{item.id}}}" 
						ng-repeat = "item in city_items" >
							<a  class = "item " ng-click="city_click(item)" href="#" >{{item.city}}</a>
						</li>
					</ul>
				</div>
				
				<div class = "phone-number" >
					{{city_phone}}
				</div>
			</div>
	
		</div>
		
	</div>

</div>
<div ncy-breadcrumb ng-show="state.current.name != 'main'"></div>