/* Side menu overlay */
#side-menu-overlay{
  background: #000;
  height: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: opacity 0.5s;
  width: 0;
}

/* Side menu wrapper */
#side-menu-wrapper{
  background: #20a493;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  transition: width 0.5s, visibility 0.5s;
  visibility: hidden;
  width: 0;
  
  /* Show/hide button */
  #side-menu-button{
    background: url(/assets/images/side_menu/button.png) no-repeat;
    cursor: pointer;
    display: block;
    float: right;
    height: 49px;
    margin-right: -57px;
    position: relative;
    left: 0px;
    top: 200px;
    transition: left 0.5s;
    visibility: visible;
    width: 57px;
  }
  
  /* Container */
  #side-menu-container{
    color: #fefefe;
    overflow: hidden;
    
    ul{
      width: 270px;
    }
  }
}

/* Active state styles */
#side-menu-overlay.side-menu-active{
  height: 100%;
  opacity: 0.5;
  width: 100%;
}
#side-menu-wrapper.side-menu-active{
  visibility: visible;
  width: 270px;
}
#side-menu-button.side-menu-active{
  left: 200px;
}