#side-menu-overlay{
  background: rgba(0,0,0,0.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

#side-menu-container{
  background: #20a493;
  color: #fff;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 200px;
  
  #side-menu-button{
    background: #20a493;
    cursor: pointer;
    display: block;
    float: right;
    height: 30px;
    position: relative;
    right: -30px;
    top: 200px;
    width: 30px;
  }
}