.blogpost-main{
  margin: 0 auto;
  overflow: hidden;
  width: @content-width;

  & > div{
    float: left;
  }

  /* Blogpost content column */
  .blogpost-content-column{
    padding: 0 60px 0 0;
    width: 900px;
  }

  /* Interesting column */
  .blogpost-interesting{
    width: 280px;
  }
}