<div class="banner-caption banner-marketing">
  <h1>Услуги по маркетингу от OnlineLab</h1>
</div>

<div class="container container-marketing-first p-t-30 p-b-30">
  <p class="column span-12 last m-t-10 m-b-10">
    Когда компания растет и развивается, то ей в помощь приходит <span class="bold">маркетинг</span>: стратегия позиционирования на рынке, стиль общения с клиентами, метод ценообразования, мерчандайзинг и многое другое.<br>
    Существуют сотни определений «маркетинга», но вам нужен свой подход. <span class="text-bg-highlight">В OnlineLab работают те, кто умеют разработать, внедрить и поддерживать маркетинговую стратегию, уникальную для каждого конкретного клиента.</span> Наши маркетологи используют как известные, проверенные методы, так инновационные и экспериментальные. Для каждого клиента мы найдем лучшее решение в разработке стратегий присутствия в интерактивной среде.
  </p>
  
  <!-- Order button -->
  <div app-order-btn ya-goal="marketing" class="column span-12 m-t-10"></div>
</div>

<div class="container-marketing-second-wrapper">
  <div class="container container-marketing-second p-t-30 p-b-10">
    <ul class="marketing-list column span-12 last">
      <li class="column span-12 last wow fadeInUp" data-wow-offset="100" data-wow-delay="0.2s">
        <p class="marketing-list-item-title m-b-10">Продвижение сайтов</p>
        <p>
          Сайт как живой организм нуждается в заботе и уходе. Развивая и реконструируя его, он начинает приносить плоды. В сети миллионы сайтов и их количество увеличивается ежедневно. Чтобы быть заметным, нужно продвигаться.<br>
          <span class="bold">По позициям</span>. Сайт появляется в первых строчках выдачи по запросам пользователей в поисковых системах. <span class="text-bg-highlight">Мы разрабатываем SEO-оптимизацию для вашего сайта на основе аудита и выбранной стратегии продвижения.</span><br>
          <span class="bold">По трафику</span>. Увеличение целевого трафика на сайт. <span class="text-bg-highlight">Для этого создаются работы по улучшению структуры сайта, оптимизации контента, улучшению конверсии и другим направлениям продвижения.</span>
        </p>
      </li>
      <li class="column span-12 last wow fadeInUp" data-wow-offset="100" data-wow-delay="0.2s">
        <p class="marketing-list-item-title m-t-30 m-b-10">Контекстная реклама</p>
        <p>
          Проанализируем ваш бизнес, проведем работы над составлением рекламных объявлений, размещением и настройке контекстной рекламы, а также её оптимизация на основе статистики.
        </p>
      </li>
      <li class="column span-12 last wow fadeInUp" data-wow-offset="100" data-wow-delay="0.2s">
        <p class="marketing-list-item-title m-t-30 m-b-10">SMM-продвижение в социальных сетях</p>
        <p>
          <span class="bold">Социальные сети</span> – один из самых мощных медиа-каналов для продвижения бренда. Продвижение в соц. сетях по эффективности сегодня обходит даже рекламирование на телевидении. <span class="text-bg-highlight">Мы владеем техниками и инструментами, которые способны сделать ваш бренд узнаваемым, привлечь клиентов на сайт и создать необходимое информационное поле.</span>
        </p>
      </li>
      <li class="column span-12 last wow fadeInUp" data-wow-offset="100" data-wow-delay="0.2s">
        <p class="marketing-list-item-title m-t-30 m-b-10">SERM-управление репутацией в интернете</p>
        <p>
          <span class="text-bg-highlight">Сформируем вашей компании привлекательную репутацию в интернете,</span> что поможет создать благоприятное информационное поле для общения с потенциальными клиентами и будущими сотрудниками.
        </p>
      </li>
    </ul>
  </div>
</div>

<div class="container container-marketing-third p-t-10 p-b-30">
  <p class="h2-like">Чем мы лучше других?</p>
  <p class="m-t-10 m-b-10">
    Преимущества работы с OnlineLab очевидны. На протяжении исполнения заказа наши клиенты видят динамику изменений и могут вносить свои пожелания в любой момент.<br>
    <span class="text-bg-highlight">Мы стремимся, чтобы заказчик стал полноценным участником проекта, который должен быть в курсе всех нюансов работы. </span>
  </p>
  <p class="m-t-20 m-b-20">
    <span class="bold">Прозрачность и открытость</span> - главное правило работы с нами. <span class="text-bg-highlight text-highlight">Сочетание классических и инновационных методов</span> даёт возможность получать максимально эффективные и интересные результаты на волне со временем. А <span class="text-bg-highlight text-highlight">ориентация на уникальность продукта</span>, на то, чтобы даже в высоко-конкурентном товаре и стандартном подходе к бизнесу найти такие стороны, которые можно подать как «изюминку» проекта.
  </p>
  
  <!-- Order button -->
  <div app-order-btn ya-goal="marketing" class="column span-12"></div>
</div>

<!-- Last projects -->
<div class="container" app-last-projects title="Последние выполненные работы" filter-by="marketing"></div>

<!-- Animation with WOW.js -->
<script>
  new WOW({
    mobile: false
  }).init();
</script>