<div class="banner-caption banner-marketing">
  <p>Услуги по маркетингу от OnlineLab</p>
</div>

<div class="container-marketing-first">
  <p>
    Когда компания растет и развивается, то ей в помощь приходит маркетинг: стратегия позиционирования на рынке, стиль общения с клиентами, метод ценообразования, мерчандайзинг и многое другое.<br>
    Существуют сотни определений «маркетинга», но вам нужен свой подход. В OnlineLab работают те, кто умеют разработать, внедрить и поддерживать маркетинговую стратегию, уникальную для каждого конкретного клиента. Наши маркетологи используют как известные, проверенные методы, так инновационные и экспериментальные. Для каждого клиента мы найдем лучшее решение в разработке стратегий присутствия в интерактивной среде.
  </p>
</div>

<div class="container-marketing-second-wrapper">
  <div class="container-marketing-second">
    <ul>
      <li>
        <p class="marketing-list-item-title">Продвижение сайтов</p>
        <p>
          Сайт как живой организм нуждается в заботе и уходе. Развивая и реконструируя его, он начинает приносить плоды. В сети миллионы сайтов и их количество увеличивается ежедневно. Чтобы быть заметным, нужно продвигаться.<br>
          По позициям. Сайт появляется в первых строчках выдачи по запросам пользователей в поисковых системах. Мы разрабатываем SEO-оптимизацию для вашего сайта на основе аудита и выбранной стратегии продвижения.<br>
          По трафику. Увеличение целевого трафика на сайт. Для этого создаются работы по улучшению структуры сайта, оптимизации контента, улучшению конверсии и другим направлениям продвижения.
        </p>
      </li>
      <li>
        <p class="marketing-list-item-title">Контекстная реклама</p>
        <p>
          Проанализируем ваш бизнес, проведем работы над составлением рекламных объявлений, размещением и настройке контекстной рекламы, а также её оптимизация на основе статистики.
        </p>
      </li>
      <li>
        <p class="marketing-list-item-title">SMM-продвижение в социальных сетях</p>
        <p>
          Социальные сети – один из самых мощных медиа-каналов для продвижения бренда. Продвижение в соц. сетях по эффективности сегодня обходит даже рекламирование на телевидении. Мы владеем техниками и инструментами, которые способны сделать ваш бренд узнаваемым, привлечь клиентов на сайт и создать необходимое информационное поле.
        </p>
      </li>
      <li>
        <p class="marketing-list-item-title">SERM-управление репутацией в интернете</p>
        <p>
          Сформируем вашей компании привлекательную репутацию в интернете, что поможет создать благоприятное информационное поле для общения с потенциальными клиентами и будущими сотрудниками.
        </p>
      </li>
    </ul>
  </div>
</div>

<div class="container-marketing-third">
  <p>Чем мы лучше других?</p>
  <p>
    Преимущества работы с OnlineLab очевидны. На протяжении исполнения заказа наши клиенты видят динамику изменений и могут вносить свои пожелания в любой момент.<br>
    Мы стремимся, чтобы заказчик стал полноценным участником проекта, который должен быть в курсе всех нюансов работы. 
  </p>
  <p>
    Прозрачность и открытость - главное правило работы с нами. Сочетание классических и инновационных методов даёт возможность получать максимально эффективные и интересные результаты на волне со временем. А ориентация на уникальность продукта, на то, чтобы даже в высоко-конкурентном товаре и стандартном подходе к бизнесу найти такие стороны, которые можно подать как «изюминку» проекта.
  </p>
</div>