/* Development page styles */

.main-font{
  color: #6c6c6c;
  font: 16px ProximaNovaRegular;
}

p{
  .main-font;
}

.lifecycle-wrapper{
  height: 970px;

  .banner{
    background: url(../../assets/images/development/lifecycle-banner.jpg);
    height: 200px;
  }

  .content{
    margin: 0 auto;
    width: @content-width;
  }
}

.techs-wrapper{
  height: 650px;

  .banner{
    background: url(../../assets/images/development/techs-banner.jpg);
    height: 200px;
  }

  .content{
    margin: 0 auto;
    width: @content-width;
  }
}

.workflow-wrapper{
  height: 1200px;

  .banner{
    background: url(../../assets/images/development/workflow-banner.jpg);
    height: 200px;
  }

  .content{
    margin: 0 auto;
    width: @content-width;
  }
}

/* End Development page styles */