.main-font{
  color: #6c6c6c;
  font: 16px/30px ProximaNovaRegular;
}

.bold{
  color: #000;
  font-weight: bold;
}

.blog-articles-main{
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  width: @content-width;

  .h1-like{
    color: @green-color !important;
    font: normal 34px/20px ProximaNovaLight !important;
    margin: 40px 0 20px 0 !important;
  }
  .h2-like{
    color: @green-color !important;
    font: normal 20px/30px ProximaNovaRegular !important;
    margin: 20px 0 0 0 !important;
  }

  .blog-articles-list{

    .blog-articles-item{
      float: left;
      height: 500px;
      margin: 0 20px 29px 0;
      width: 380px;

      &:nth-child(3n){
        margin: 0;
      }

      p{
        .main-font;
      }

      .blog-articles-item-date{
        color: #bfbfbf;
        font-size: 15px;
      }

      .blog-articles-item-image{
        margin: 0 0 17px 0;
      }
    }
  }
}