<!-- Магнит для заказчика -->
<div class="lifecycle-wrapper">
  <div class="banner-caption lifecycle-banner"><h1>Создание web-проектов любой сложности</h1></div>
  <div class="content">
    <p>Организация разработки проектов важнее всего. Наша забота о клиентах проявляется в том, что заказчик видит, как мы работаем и может вносить<br> рекомендации в любое время, что не повлияет на сроки и сложность работ. Это первое, что притягивает к нам клиентов.</p>
    
    <p class="h2-like">Применяем</p>
    <ul class="methods wow fadeInUp" data-wow-delay="0s">
      <li class="li-agile">Agile</li>
      <span>&</span>
      <li class="li-scrum">Scrum</li>
    </ul>

    <p>Это методы, которыми руководствуются современные успешные команды разработчиков во всём мире. Работа распределяется между несколькими<br> профессионалами и выполняется короткими циклами, что позволяет работать над проектами быстро, гибко и выдавать высокую функциональность.</p>

    <div class="lifecycle-list-wrapper wow fadeInUp" data-wow-delay="0.5s">
      <img class="arrow-next1" src="/assets/images/development/next-arrow-top.png">
      <img class="arrow-next2" src="/assets/images/development/next-arrow-bottom.png">
      <img class="arrow-next3" src="/assets/images/development/next-arrow-top.png">
      <ul class="lifecycle-list">
        <li>Сделали часть</li>
        <li>Сдали заказчику</li>
        <li>Внесли дополнения</li>
        <li>Принято!<br><br>Работаем дальше</li>
      </ul>
    </div>

    <table class="adv-weak">
      <tr>
        <th>Лучше так</th><th>Чем так</th>
      </tr>

      <tr>
        <td>Работающий продукт</td><td>Тонны документации</td>
      </tr>
      <tr>
        <td>Гибкость и готовность к изменениям</td><td>Следование первоначальному плану</td>
      </tr>
      <tr>
        <td>Взаимодействие с заказчиком</td><td>Зацикливание на процессах и инструментах</td>
      </tr>
    </table>
    
    <div class="container">
      <!-- Order button -->
      <div app-order-btn ya-goal="development" class="column span-12 m-t-30 m-b-30"></div>
    </div>
  </div>
</div>

<!-- У нас все летает -->
<div class="techs-wrapper">
  <div class="banner-caption techs-banner"><p>У нас все летает</p></div>
  <div class="content">
    <p class="h2-like">Мы ненавидим медленно работающие сайты!</p>
    <p><span class="bold">Профессиональный вызов</span> – сделать мощный, масштабируемый <span class="term">web-проект</span> <span class="term-example">(интернет-магазин, сервис, соц. сеть)</span> или комфортное <span class="term">мобильное приложение</span>.</p>
    <p class="reason">Это вторая причина, почему наши клиенты любят работать с нами.</p>
    <p>Такой подход требует от нас постоянного развития и изучения новых технологий, что мы с радостью и делаем. </p>

    <p class="h2-like">Излюбленные языки программирования, платформы и технологии</p>
    <ul class="tech-list wow flipInX" data-wow-offset="100" data-wow-delay="0.1s">
      <li><img src="/assets/images/development/tech-js.png">JavaScript</li>
      <li><img src="/assets/images/development/tech-node-js.png">Node.js</li>
      <li><img src="/assets/images/development/tech-angular.png">AngularJS</li>
      <li><img src="/assets/images/development/tech-cdn.png">CDN</li>
      <span>&</span>
      <li><img src="/assets/images/development/tech-cloud.png">Облачные хранилища</li>
    </ul>
  </div>
</div>

<!-- Как мы будем работать над вашим проектом -->
<div class="workflow-wrapper p-b-40">
  <div class="banner-caption workflow-banner"><p>Как мы будем работать над вашим<br>проектом</p></div>
  <div class="content">

    <ul class="workflow-list">
      <li ng-repeat="li in workflow" class="wow fadeInUp" data-wow-offset="50" data-wow-delay="0.2s">
          <table>
            <tr>
              <td><img ng-src="{{li.ico}}" alt=""></td>
              <td>
                <div>
                  <p class="name">{{li.name}}</p>
                  <p class="desc">
                    {{li.desc}}
                  </p>
                </div>
              </td>
            </tr>
          </table>
        </li>
    </ul>

    <p class="note">На каждом этапе вы можете вносить дополнения, высказывать пожелания и обсуждать с нами следующие шаги. Если в самом конце работы над<br> проектом вы захотите полностью сменить концепцию, мы это сделаем, уложившись в сроки. Хотя, как говорится, нет таких исключений, которых<br> нельзя устроить хорошим людям. Но гибкость и готовность к изменениям – один из принципов философии <span class="bold">OnlineLab</span>.</p>
    
    <!-- Order button -->
    <div app-order-btn ya-goal="development" class="column span-12 m-t-20"></div>
  </div>
</div>

<!-- Animation with WOW.js -->
<script>
  new WOW({
    mobile: false
  }).init();
</script>